
.card {
    &-content {
        @include clearfix();
    }
    &-panel {
        float: right;
        width: 50%;
        display: flex;
        align-items: center;
        margin-bottom: 27px;
    }
    &-detail {
        float: right;
        width: 50%;
    }
    &-title {
        text-align: left;
        font-size: 26px;
        line-height: 39px;
        text-transform: none;
        letter-spacing: 0.06em;
        font-weight: 700;
    }
    &-marks {
        margin-right: auto;
    }
    &-code {
        margin-top: -4px;
        margin-left: auto;
        font-weight: 600;
        font-size: 13px;
        line-height: 19px;
        letter-spacing: 0.04em;
        color: #59A750;
    }
    &-price-wrapper {
        display: flex;
        align-items: flex-start;
        margin-bottom: 37px;
    }
    &-price-panel {
        display: flex;
        align-items: center;
        margin-right: 50px;
    }
    &-price {
        margin-right: 29px;
        font-size: 35px;
        line-height: 31px;
    }
    &-price-currency {
        font-size: 34px;
        margin-left: 8px;
    }
    &-price-old {
        position: relative;
        margin-right: 26px;
        font-size: 20px;
        letter-spacing: 0.085em;
        color: #111111;
        &:after {
            content: '';
            position: absolute;
            top: 50%;
            left: 0;
            width: 100%;
            height: 1px;
            background-color: #111111;
        }
    }
    &-price-old-currency {
        font-size: 19px;
        letter-spacing: 0.085em;
        color: #111111;
    }
    &-discount {
        padding: 7px 17px 6px;
        font-size: 12px;
        border-radius: 5px;
    }
    &-availability-item {
        margin-bottom: 9px;
    }
    &-buttons {
        display: flex;
        align-items: center;
        padding-bottom: 30px;
        margin-bottom: 30px;
        border-bottom: 1px solid #E0E0E0;
    }
    &-button {
        margin-right: 30px;
        padding-right: 44px;
        padding-left: 44px;
    }
    &-amount {
        margin-right: 30px;
        width: 91px;
        border-radius: 25px;
    }
    &-amount-digit {
        height: 48px;
    }
    &-delivery {
        padding-bottom: 28px;
        margin-bottom: 25px;
        border-bottom: 1px solid #E0E0E0;
    }
    &-delivery-item {
        display: flex;
        margin-bottom: 17px;
        &:last-child {
            margin-bottom: 0;
        }
    }
    &-delivery-label {
        width: 50%;
        font-size: 15px;
        line-height: 22px;
        letter-spacing: 0.03em;
        color: #111111;
    }
    &-delivery-value {
        width: 50%;
        font-size: 15px;
        line-height: 22px;
        letter-spacing: 0.03em;
        color: #111111;
    }
    &-delivery-icon {
        margin-right: 20px;
        vertical-align: middle;
    }
    &-subtitle {
        display: block;
        margin-bottom: 24px;
        font-weight: 700;
        font-size: 15px;
        line-height: 22px;
        color: #000000;
    }
    &-more {
        font-weight: 700;
        font-size: 15px;
        line-height: 22px;
        text-transform: uppercase;
        color: #59A750;
        text-decoration: none;
        &:hover {
            color: #59A750;
        }
    }
    &-more-icon {
        margin-top: -3px;
        margin-left: 14px;
        vertical-align: middle;
    }
    &-more-icon_active {
        transform: scaleY(-1);
    }

    &-gallery {
        float: left;
        display: flex;
        width: 50%;
        padding-right: 90px;
    }
    &-gallery-thumbs {
        position: relative;
        overflow: hidden;
        min-width: 105px;
        width: 105px;
        min-height: 100%;
        margin-right: 15px;
        .swiper-wrapper {
            flex-direction: column;
        }
        .swiper-slide {
            flex-flow: column nowrap;
            width: 100%;
            height: auto;
            cursor: pointer;
        }
    }
    &-gallery-main {
        position: relative;
        height: 540px;
        width: calc(100% - 120px);
        overflow: hidden;
    }
    &-gallery-main-item {
    }
    &-gallery-link {
        display: block;
        height: 100%;
        cursor: url(../images/products/popup/zoom-icon.png), pointer;
    }
    &-gallery-thumbs-list {
        margin-top: 29px;
    }
    &-gallery-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    &-gallery-pagination {
        display: none;
    }
    &-thumbs-img {
        width: 100%;
        display: block;
    }
    &-gallery-button {
        position: absolute;
        top: 50%;
        left: 20px;
        z-index: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 45px;
        height: 45px;
        transform: translateY(-50%);
        text-align: center;
        cursor: pointer;
        &:hover {
            background-color: rgba(255, 255, 255, 0.5);
        }
    }
    &-gallery-button_left {}
    &-gallery-button_right {
        left: auto;
        right: 20px;
    }
    &-gallery-icon {
        margin-top: -3px;
        font-size: 30px;
        color: #1d1d1d;
    }
    &-thumbs-item {}
    &-thumbs-item.swiper-slide-thumb-active {
        &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border: 2px solid #fff;
        }
        &:after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border: 1px solid #000;
        }
    }
    &-gallery-video {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        height: 142px;
    }
    &-video-icon {
        margin-bottom: 6px;
        font-size: 14px;
        color: #1d1d1d;
    }
    &-video-label {
        font-size: 14px;
        font-weight: 700;
        color: #1d1d1d;
        text-transform: uppercase;
    }
    &-thumbs-button {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 27px;
        text-align: center;
        cursor: pointer;
        background-color: #fff;
        border: 1px solid transparent;
        &:hover {
            border-color: #dcdcdc;
        }
    }
    &-thumbs-button_top {}
    &-thumbs-button_bottom {
        top: auto;
        bottom: 0;
    }
    &-thumbs-icon {
        font-size: 20px;
        color: #1d1d1d;
    }
}

.tags {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 22px;
    &-item {
        margin-right: 30px;
        margin-bottom: 10px;
        &:last-child {
            margin-right: 0;
        }
    }
    &-item_hide {
        display: none;
    }
    &-link {
        display: block;
        padding-left: 25px;
        padding-right: 25px;
        text-decoration: none;
        background-color: #DBF4DF;
        border-radius: 5px;
        font-weight: 600;
        font-size: 15px;
        line-height: 34px;
        color: #59A750;
        white-space: nowrap;
        &:hover {
            color: #59A750;
        }
    }
}

@media screen
and (max-width: $large){
}

@media screen
and (max-width: $desktop){
}

@media screen
and (max-width: $tablet){
}

@media screen
and (max-width: $mobile){
}
