
.card {
    &-content {
        @include clearfix();
        margin-bottom: 80px;
    }
    &-panel {
        float: right;
        width: 45%;
        display: flex;
        align-items: center;
        margin-bottom: 20px;
    }
    &-detail {
        float: right;
        width: 45%;
    }
    &-title {
        margin-bottom: 43px;
        text-align: left;
        font-size: 26px;
        line-height: 39px;
        text-transform: none;
        letter-spacing: 0.06em;
        font-weight: 700;
    }
    &-marks {
        margin-right: auto;
    }
    &-code {
        margin-top: -4px;
        margin-left: auto;
        font-weight: 600;
        font-size: 13px;
        line-height: 19px;
        letter-spacing: 0.04em;
        color: #59A750;
    }
    &-price-wrapper {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        padding-bottom: 30px;
        margin-bottom: 30px;
        border-bottom: 1px solid #E0E0E0;
    }
    &-price-wrapper_simple {
        border-bottom-width: 0;
        padding-bottom: 15px;
    }
    &-price-panel {
        display: flex;
        align-items: center;
        width: 53%;
        padding-right: 50px;
        margin-bottom: 37px;
    }
    &-price-panel_wide {
        width: 100%;
        margin-right: 0;
    }
    &-availability {
        margin-bottom: 37px;
    }
    &-availability-item {
        display: flex;
        align-items: baseline;
        margin-bottom: 9px;
    }
    &-availability-label {
        width: 208px;
        padding-right: 15px;
        font-size: 15px;
        line-height: 22px;
        letter-spacing: 0.085em;
        color: #000000;
    }
    &-price {
        margin-right: 27px;
        font-size: 35px;
        line-height: 31px;
    }
    &-price-currency {
        font-size: 34px;
        margin-left: 8px;
    }
    &-price-old {
        position: relative;
        margin-right: 26px;
        font-size: 20px;
        letter-spacing: 0.085em;
        color: #111111;
        white-space: nowrap;
        &:after {
            content: '';
            position: absolute;
            top: 50%;
            left: 0;
            width: 100%;
            height: 1px;
            background-color: #111111;
        }
    }
    &-price-old-currency {
        font-size: 19px;
        letter-spacing: 0.085em;
        color: #111111;
    }
    &-discount {
        padding: 7px 17px 6px;
        font-size: 12px;
        border-radius: 5px;
    }
    &-button {
        margin-right: 30px;
        padding-right: 44px;
        padding-left: 44px;
    }
    &-amount {
        margin-right: 30px;
    }
    &-amount_simple {}
    &-delivery {
        padding-bottom: 28px;
        margin-bottom: 25px;
        border-bottom: 1px solid #E0E0E0;
    }
    &-delivery_simple {
        margin-bottom: 12px;
        border-bottom-width: 0;
    }
    &-delivery-item {
        display: flex;
        margin-bottom: 17px;
        &:last-child {
            margin-bottom: 0;
        }
    }
    &-delivery-label {
        width: 57%;
        max-width: 409px;
        display: flex;
        padding-right: 10px;
        font-size: 15px;
        line-height: 22px;
        letter-spacing: 0.03em;
        color: #111111;
    }
    &-delivery-value {
        font-size: 15px;
        line-height: 22px;
        letter-spacing: 0.03em;
        color: #111111;
        cursor: pointer;
    }
    &-delivery-icon {
        margin-top: -2px;
        margin-right: 20px;
        vertical-align: middle;
    }
    &-dropdown {
        position: relative;
    }
    &-dropdown-menu {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 2;
        width: 220px;
        padding: 15px 25px 30px;
        background-color: #fff;
        border-radius: 0 15px 15px 15px;
        box-shadow: 0 5px 20px rgba(206, 206, 206, 0.3);
    }
    &-dropdown-list {}
    &-dropdown-list-item {}
    &-dropdown-link {
        text-decoration: none;
        color: #2D2A1E;
        &:hover {
            color: #2D2A1E;
        }
    }
    &-dropdown-icon {
        margin-top: -2px;
        margin-left: 6px;
        vertical-align: middle;
    }
    &-dropdown_active &-dropdown-menu {
        display: block;
    }
    &-dropdown_active &-dropdown-icon {
        transform: scaleY(-1);
    }
    &-subtitle {
        display: block;
        margin-bottom: 24px;
        font-weight: 700;
        font-size: 15px;
        line-height: 22px;
        color: #000000;
    }
    &-more {
        font-weight: 700;
        font-size: 15px;
        line-height: 22px;
        text-transform: uppercase;
        color: #59A750;
        text-decoration: none;
        &:hover {
            color: #59A750;
        }
    }
    &-more-icon {
        margin-top: -4px;
        margin-left: 14px;
        vertical-align: middle;
    }
    &-more-icon_active {
        transform: scaleY(-1);
    }

    &-gallery {
        float: left;
        display: flex;
        width: 55%;
        padding-right: 40px;
    }
    &-gallery-thumbs {
        position: relative;
        overflow: hidden;
        min-width: 85px;
        width: 85px;
        min-height: 100%;
        height: 490px;
        .swiper-wrapper {
            flex-direction: column;
        }
        .swiper-slide {
            flex-flow: column nowrap;
            width: 100%;
            height: auto;
            cursor: pointer;
        }
    }
    &-gallery-main {
        position: relative;
        height: 615px;
        width: 100%;
        overflow: hidden;
        padding-right: 40px;
        padding-left: 40px;
    }
    &-gallery-main-item {
    }
    &-gallery-link {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        cursor: url(../images/products/popup/zoom-icon.png), pointer;
    }
    &-gallery-thumbs-list {
        margin-top: 29px;
    }
    &-gallery-img {
    }
    &-gallery-pagination {
        display: none;
    }
    &-thumbs-img {
        width: 100%;
        display: block;
    }
    &-gallery-button {
        position: absolute;
        top: 50%;
        left: 0;
        z-index: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 38px;
        height: 38px;
        transform: translateY(-50%);
        text-align: center;
        cursor: pointer;
        box-shadow: 0px 0px 20px rgba(206, 206, 206, 0.4);
        border-radius: 50%;
        &:hover {

        }
    }
    &-gallery-button_left {}
    &-gallery-button_right {
        left: auto;
        right: 0;
    }
    &-gallery-icon {
        margin-top: -3px;
        font-size: 30px;
        color: #1d1d1d;
    }
    &-thumbs-item {
        padding: 6px;
        border: 2px solid transparent;
        border-radius: 5px;
    }
    &-thumbs-item.swiper-slide-thumb-active {
        border-color: #E0E0E0;
    }
    &-gallery-video {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        height: 108px;
    }
    &-video-icon {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 70px;
        height: 70px;
        border-radius: 50%;
        border: 2px solid #E0E0E0;
    }
    &-video-icon-play {
        margin-top: -1px;
        margin-right: -6px;
    }
    &-thumbs-button {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 18px;
        text-align: center;
        cursor: pointer;
        background-color: #fff;
        border: 1px solid #fff;
    }
    &-thumbs-button_top {}
    &-thumbs-button_bottom {
        top: auto;
        bottom: 0;
    }
    &-thumbs-icon {
        font-size: 20px;
        color: #1d1d1d;
    }
    &-thumbs-button_top:hover &-thumbs-icon {
        background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='14' height='8' viewBox='0 0 14 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3crect x='12.4414' y='7.49225' width='11.241' height='1.4988' transform='rotate(-180 12.4414 7.49225)' fill='%2359A750'/%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M13.159 7.18049C12.7201 7.59857 12.0083 7.59857 11.5693 7.18049L6.74369 7.18049L1.91806 7.18049C1.47907 7.59857 0.767332 7.59857 0.328344 7.18049C-0.110643 6.7624 -0.110643 6.08456 0.328344 5.66647L5.94884 0.313624C6.38782 -0.10446 7.09956 -0.10446 7.53855 0.313624L13.159 5.66647C13.598 6.08456 13.598 6.7624 13.159 7.18049Z' fill='%2359A750'/%3e%3c/svg%3e");
    }
    &-thumbs-button_bottom:hover &-thumbs-icon {
        background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='14' height='9' viewBox='0 0 14 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3crect x='1.04688' y='1.00012' width='11.241' height='1.4988' fill='%2359A750'/%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.329241 1.31188C0.768228 0.893802 1.47997 0.893802 1.91896 1.31188L6.74459 1.31188L11.5702 1.31188C12.0092 0.893802 12.7209 0.893802 13.1599 1.31188C13.5989 1.72997 13.5989 2.40782 13.1599 2.8259L7.53945 8.17875C7.10046 8.59683 6.38872 8.59683 5.94973 8.17875L0.329241 2.8259C-0.109747 2.40782 -0.109747 1.72997 0.329241 1.31188Z' fill='%2359A750'/%3e%3c/svg%3e ");
    }
    &-marks {}
    &-wishlist {}
    &-description {
        width: 52%;
        margin-bottom: 160px;
    }

    &-props {
        margin-bottom: 55px;
    }
    &-props-list {
        margin-bottom: 30px;
    }
    &-props-item {
        display: flex;
        border-bottom: 1px solid #F2F2F2;
        padding-bottom: 10px;
        margin-bottom: 13px;
    }
    &-props-name {
        width: 50%;
        font-weight: 600;
        font-size: 15px;
        line-height: 21px;
        letter-spacing: 0.06em;
        color: #000000;
    }
    &-props-value {
        width: 50%;
        font-size: 15px;
        line-height: 22px;
        color: #000000;
    }
    &-description-content {
        .h2, h2 {
            display: block;
            margin-bottom: 22px;
            font-weight: 600;
            font-size: 22px;
            line-height: 26px;
            letter-spacing: 0.06em;
            text-transform: none;
        }
    }
    &-not-available {
        margin-bottom: 25px;
        font-weight: 700;
        font-size: 20px;
        line-height: 30px;
        letter-spacing: 0.06em;
        color: #2D2A1E;
    }
}

.tags {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 19px;
    &-item {
        margin-right: 30px;
        margin-bottom: 10px;
        &:last-child {
            margin-right: 0;
        }
    }
    &-item_hide {
        display: none;
    }
    &-link {
        display: block;
        padding-left: 25px;
        padding-right: 25px;
        text-decoration: none;
        background-color: #DBF4DF;
        border-radius: 5px;
        font-weight: 600;
        font-size: 15px;
        line-height: 34px;
        color: #59A750;
        white-space: nowrap;
        &:hover {
            color: #59A750;
        }
    }
}

@media screen
and (max-width: $large){
    .card {
        &-availability {
            margin-right: 15px;
        }
    }
}

@media screen
and (max-width: $notebook){
    .card {
        &-button {
            margin-right: 20px;
            padding-right: 40px;
            padding-left: 40px;
        }
    }
}

@media screen
and (max-width: $desktop){
    .card {
        &-title {
            margin-bottom: 20px;
        }
        &-marks {
            top: -8px;
        }
        &-panel {
            position: relative;
        }
        &-amount {
            order: -1;
            margin-right: 0;
        }
        &-amount_simple {
            margin-right: 20px;
        }
        &-price-panel {
            order: -1;
            width: auto;
            padding-right: 20px;
        }
        &-price {
            margin-right: 17px;
        }
        &-price-currency {
            margin-left: 4px;
        }
        &-price-old {
            margin-right: 17px;
        }
        &-discount {
            padding: 4px 4px 3px;
        }
        &-availability {
            display: flex;
            width: 100%;
            margin-bottom: 23px;
        }
        &-availability-item {
            flex-wrap: wrap;
            margin-bottom: 5px;
        }
        &-availability-label {
            display: block;
            margin-bottom: 5px;
            width: 100%;
            padding-right: 0;
        }
        &-button {
            margin-right: 16px;
            padding-right: 20px;
            padding-left: 20px;
        }
        &-delivery-item {
            justify-content: space-between;
            margin-bottom: 12px;
        }
        &-gallery {
            padding-right: 24px;
        }
        &-gallery-main {
            height: 490px;
        }
        &-description {
            width: 65%;
        }
        &-dropdown-menu {
            left: auto;
            right: 0;
        }
    }
}


@media screen
and (max-width: $tablet){
    .card {
        &-price-wrapper {
            padding-bottom: 13px;
            margin-bottom: 10px;
            align-items: center;
        }
        &-panel {
            margin-bottom: 20px;
            width: 48%;
        }
        &-detail {
            width: 48%;
        }
        &-title {
            margin-bottom: 15px;
            font-size: 13px;
            line-height: 18px;
        }
        &-code {
            font-size: 11px;
            margin-right: 52px;
        }
        &-price-panel {
            margin-bottom: 13px;
        }
        &-price {
            margin-right: 17px;
            font-size: 18px;
            line-height: 20px;
        }
        &-price-currency {
            font-size: 17px;
        }
        &-price-old {
            font-size: 11px;
        }
        &-price-old-currency {
            font-size: 11px;
        }
        &-discount {
            font-size: 9px;
        }
        &-availability-label {
            font-size: 12px;
            line-height: 17px;
        }
        &-amount {
            margin-bottom: 13px;
        }
        &-amount_simple {
            margin-bottom: 0;
        }
        &-content {
            position: relative;
            margin-bottom: 53px;
            margin-top: 30px;
        }
        &-wishlist {
            position: absolute;
            top: -13px;
            right: 0;
        }
        &-delivery {
            padding-bottom: 13px;
            margin-bottom: 13px;
        }
        &-delivery-label {
            font-size: 12px;
        }
        &-delivery-value {
            font-size: 12px;
        }
        &-delivery-icon {
            margin-top: 2px;
            margin-right: 10px;
        }
        &-subtitle {
            font-size: 12px;
            margin-bottom: 10px;
        }
        &-more {
            font-size: 12px;
            line-height: 18px;
        }
        &-more-icon {
            margin-top: -3px;
            margin-left: 5px;
        }
        &-more-icon {
            width: 7px;
        }
        &-button {
            margin-right: 25px;
            padding-right: 23px;
            padding-left: 23px;
        }
        &-button_simple {
            margin-right: 0;
        }
        &-gallery {
            width: 52%;
            padding-right: 10px;
        }
        &-gallery-main {
            height: 335px;
            padding-right: 0;
            padding-left: 0;
        }
        &-gallery-thumbs {
            width: 44px;
            min-width: 44px;
            height: 280px;
            margin-right: 10px;
        }
        &-gallery-video {
            height: 44px;
        }
        &-video-icon {
            width: 44px;
            height: 44px;
        }
        &-thumbs-item {
            padding: 3px;
            border-width: 1px;
        }
        &-video-icon-play {
            margin-right: -4px;
        }
        &-gallery-icon {
            margin-top: 0;
        }
        &-description {
            width: 70%;
            margin-bottom: 60px;
        }
        &-description-content {
            .h2, h2 {
                margin-bottom: 18px;
                font-size: 18px;
            }
        }
        &-dropdown-link {
            font-size: 13px;
        }
        &-props {
            margin-bottom: 30px;
        }
        &-props-name {
            font-size: 14px;
        }
        &-props-item {
            margin-bottom: 10px;
        }
        &-props-value {
            font-size: 14px;
        }
        &-props-list {
            margin-bottom: 19px;
        }
    }
    .tags {
        margin-bottom: 5px;
        &-item {
            margin-right: 15px;
            margin-bottom: 5px;
        }
        &-link {
            padding-left: 10px;
            padding-right: 10px;
            line-height: 26px;
            font-size: 13px;
        }
    }
}

@media screen
and (max-width: $mobile){
    .card {
        &-content {
            display: flex;
            flex-direction: column;
        }
        &-gallery {
            float: none;
            width: 296px;
            margin-left: auto;
            margin-right: auto;
            padding-right: 0;
        }
        &-gallery-thumbs {
            display: none;
        }
        &-panel {
            order: -1;
            float: none;
            width: 100%;
        }
        &-detail {
            float: none;
            width: 100%;
        }
        &-gallery-button {
            display: none;
        }
        &-gallery-main {
            margin-bottom: 30px;
        }
        &-amount {
            margin-right: 0;
        }
        &-amount_simple {
            margin-bottom: 13px;
        }
        &-button {
            width: 100%;
            margin-right: 0;
            margin-bottom: 20px;
        }
        &-button_simple {
            margin-bottom: 0;
        }
        &-description {
            width: 100%;
        }
        &-props-value {
            text-align: right;
        }
        &-price-panel {
            width: auto;
        }
        &-price-panel_wide {
            width: auto;
            margin-right: 20px;
        }
    }
}
