
.contacts {
    &-main-title {
        margin-bottom: 40px;
    }
    &-item {
        margin-bottom: 110px;
    }
    &-title {
        display: block;
        margin-bottom: 64px;
        text-transform: uppercase;
    }
    &-list {
        display: flex;
        flex-wrap: wrap;
        margin-left: -48px;
        margin-right: -48px;
    }
    &-list-item {
        width: 50%;
        margin-bottom: 40px;
        padding-left: 48px;
        padding-right: 48px;
        border-right: 0.7px solid #E0E0E0;
        &:nth-child(2n) {
            border-right-width: 0;
        }
        &:last-child {
            border-right-width: 0;
        }
    }
    &-list-item_phone {
        width: 40%;
    }
    &-list-item_address {
        width: 60%;
    }
    &-list-item_wide {
        width: 100%;
    }
    &-list_export {
    }
    &-list_export &-list-item_phone {
        width: 33%;
    }
    &-list_export &-list-item_address {
        width: 67%;
    }
    &-list-name {
        margin-bottom: 18px;
        font-weight: 700;
        font-size: 18px;
        line-height: 26px;
        text-transform: uppercase;
        color: rgba(0, 0, 0, 0.8);
    }
    &-list-info {
        color: #212621;
        font-weight: 300;
        font-size: 16px;
        line-height: 28px;
    }
    &-list-icon {
        margin-top: -5px;
        margin-right: 13px;
        vertical-align: middle;
    }
    &-map {
        height: 400px;
        border-radius: 15px;
        overflow: hidden;
    }
    &-map [class*="-inner-panes"] {
        background-color: grey;
    }
    &-map [class*="-ground-pane"] {
        filter: grayscale(1);
        opacity: 0.9;
    }
    &-info {
        margin-bottom: 35px;
        font-size: 16px;
        line-height: 22px;
        letter-spacing: 0.06em;
        color: #000000;
        text-align: center;
    }
    &-tabs-panel {
        text-align: center;
    }
    &-tabs-menu-wrapper {
        display: inline-block;
    }
}

.feedback {
    padding: 55px 38px 70px;
    background: url("../images/img/feedback-img.png") no-repeat right top,
                url("../images/img/feedback-img-1.png") repeat-x left bottom,
                #F4F7F7;
    background-size: cover;
    border-radius: 15px;
    &-title {
        display: block;
        margin-bottom: 34px;
        text-align: left;
        text-transform: none;
        letter-spacing: normal;
    }
    &-form {
        display: flex;
    }
    &-input {
        border-color: transparent;
    }
    &-form-item {
        padding-right: 30px;
    }
    &-form-item_fields {
        width: 24%;
    }
    &-form-item_textarea {
        width: 34%;
    }
    &-form-item_actions {
        width: 25%;
    }
    &-textarea {
        width: 100%;
        height: 100%;
        border-color: transparent;
    }
    &-field-textarea {
        height: 100%;
    }
    &-field:last-child {
        margin-bottom: 0;
    }
    &-button {
        margin-bottom: 30px;
    }
    &-info {
    }
}


@media screen
and (max-width: $large){
}

@media screen
and (max-width: $desktop){
    .feedback {
        background-position: 0 0, left bottom;
        background-size: auto;
        &-form-item_actions {
            width: 40%;
        }
    }
}

@media screen
and (max-width: $tablet){
    .contacts {
        &-title {
            margin-bottom: 29px;
        }
        &-item {
            margin-bottom: 70px;
        }
        &-list-name {
            margin-bottom: 8px;
            font-size: 12px;
        }
        &-list {
            margin-left: -20px;
            margin-right: -20px;
        }
        &-list-item {
            margin-bottom: 25px;
            padding-left: 20px;
            padding-right: 20px;
        }
        &-list-info {
            font-size: 14px;
            line-height: 19px;
        }
        &-list-icon {
            margin-right: 10px;
        }
        &-content {
            margin-bottom: 35px;
        }
        &-map {
            height: 267px;
            border-radius: 10px;
        }
        &-tabs-menu-wrapper {
            display: block;
        }
    }
    .feedback {
        padding: 25px 25px 37px;
        &-title {
            margin-bottom: 22px;
        }
        &-form {
            flex-wrap: wrap;
        }
        &-form-item_fields {
            width: 50%;
        }
        &-form-item_textarea {
            width: 50%;
            padding-right: 0;
        }
        &-form-item_actions {
            margin-top: 25px;
            padding-right: 0;
            width: 100%;
        }
        &-button {
            margin-bottom: 18px;
        }
        &-info {
            font-size: 12px;
        }
    }
}

@media screen
and (max-width: $mobile){
    .feedback {
        &-form-item_fields {
            width: 100%;
            padding-right: 0;
            margin-bottom: 25px;
        }
        &-form-item_textarea {
            width: 100%;
        }
        &-textarea {
            height: 100px;
        }
        &-button {
            width: 100%;
        }
    }
}
