
$colorPlaceholder: #828282;

.field {
    margin-bottom: 30px;
    &-label {
    }
    &_simple {
        margin-bottom: 40px;
    }
}

.input {
    width: 100%;
    height: 50px;
    padding: 14px 32px 16px;
    background-color: #fff;
    color: #828282;
    font-size: 15px;
    border: 1px solid #E0E0E0;
    font-family: 'Nunito', sans-serif;
    border-radius: 15px;
    &:focus {
        color: #828282;
    }
    &::-webkit-input-placeholder {color: $colorPlaceholder;}
    &:-moz-placeholder {color: $colorPlaceholder;}
    &::-moz-placeholder {color: $colorPlaceholder;}
    &:-ms-input-placeholder {color: $colorPlaceholder;}
    &::placeholder {color: $colorPlaceholder;}
    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus {
        -webkit-text-fill-color: $colorPlaceholder;
        transition: background-color 1s ease-in-out 0s;
    }

    &_textarea {
        display: block;
        width: 100%;
        height: 50px;
        padding: 15px 23px;
        overflow: hidden;
        background-color: #fff;
        color: #828282;
        font-size: 15px;
        resize: none;
        border: 1px solid #E0E0E0;
        font-family: 'Nunito', sans-serif;
        border-radius: 15px;
        transition: height 0.3s ease-in-out 0s;
        &:-webkit-autofill,
        &:-webkit-autofill:hover,
        &:-webkit-autofill:focus {
            -webkit-text-fill-color: #fff;
        }
    }
}

input.form-error {
    display: block;
    border-color: #d25a5f;
    &:focus {
        border-color: #d25a5f;
    }
}
label.form-error {
    display: block;
    color: $color;
    font-size: 12px;
    line-height: 20px;
}

.checkbox {
    position: relative;
    display: flex;
    align-items: flex-start;
    cursor: pointer;
    &-field {
        display: flex;
    }
    &-input {
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        opacity: 0;
    }
    &-check {
        display: flex;
        align-items: center;
        justify-content: center;
        min-width: 25px;
        width: 25px;
        height: 25px;
        line-height: 25px;
        margin-top: -1px;
        margin-right: 15px;
        background-color: #fff;
        border: 1.5px solid #59A750;
        font-size: 10px;
        color: transparent;
        text-align: center;
        border-radius: 2px;
        &:before {
        }
        &:hover {
            cursor: pointer;
        }
    }
    &_simple {
    }
    &_simple &-check {
        border-radius: 5px;
    }
    &-label {
        font-size: 18px;
        letter-spacing: 0.022em;
        color: #19191D;
    }
    &-icon {
        visibility: hidden;
    }
    &-input:checked + &-check &-icon {
        visibility: visible;
    }
}

.radio {
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
    &-field-wrapper {
        position: relative;
        display: flex;
        align-items: center;
        height: 100%;
        padding: 30px 25px 30px 32px;
        border: 2px solid #E0E0E0;
        border-radius: 15px;
        &:hover {
            box-shadow: 0px 0px 20px rgba(206, 206, 206, 0.4);
            border-color: transparent;
        }
    }
    &-item {
        margin-bottom: 14px;
    }
    &-field {
        &:hover {
        }
    }
    &-input {
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        opacity: 0;
    }
    &-label {
        color: #333333;
        font-size: 15px;
    }
    &-check {
        display: inline-block;
        width: 25px;
        height: 25px;
        margin-right: 11px;
        border: 1px solid #BDBDBD;
        border-radius: 50%;
        text-align: center;
        background-color: #fff;
    }
    &-input:checked + &-check {
        border: 6px solid #59A750;
    }
    &-input:checked ~ &-label {
    }
}

@mixin bgrcolor() {
    transition: background-color 0.3s ease-in-out;
}

.button {
    display: inline-block;
    height: 50px;
    line-height: 50px;
    padding-right: 33px;
    padding-left: 33px;
    font-weight: 600;
    font-size: 15px;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    background-color: #59A750;
    text-decoration: none;
    white-space: nowrap;
    border-width: 0;
    cursor: pointer;
    border-radius: 25px;
    box-shadow: 0px 8.14815px 6.51852px rgba(49, 49, 49, 0.0392593), 0px 1.85185px 3.14815px rgba(49, 49, 49, 0.0240741);
    -webkit-appearance: none;
    &:hover {
        color: #fff;
    }
    &:active {
        color: #fff;
    }
    &:disabled {
        opacity: 0.8;
        cursor: not-allowed;
    }

    &_simple {
        background-color: #FF5800;
    }
    &_disabled {
        background-color: #BDBDBD;
        box-shadow: none;
    }
    &_modified {
        height: 43px;
        line-height: 43px;
    }
}

/*selectric*/
.selectric-wrapper {
    min-width: 166px;
}
.selectric {
    margin-bottom: -1px;
    border-width: 0;
    border-radius: 5px;
    background-color: #F4F7F7;
    padding-left: 24px;
    padding-right: 40px;
}
.selectric .label {
    height: 43px;
    margin: 0;
    font-weight: 800;
    font-size: 15px;
    line-height: 43px;
    color: #59A750;
}
.selectric:hover .label {
}
.selectric-open .label {
}
.selectric-items {
    top: calc(100% + 1px);
    min-width: 195px;
    padding-top: 14px;
    padding-bottom: 14px;
    background-color: #fff;
    border-width: 0;
    box-shadow: 0px 0px 20px rgba(206, 206, 206, 0.4);
}
.selectric-above .selectric-items {
    box-shadow: 0px 0px 20px rgba(206, 206, 206, 0.4);
}
.selectric-items li {
    padding: 7px 24px;
    font-size: 15px;
    color: $color;
}
.selectric-items li:hover {
    background-color: transparent;
    color: #59A750;
}
.selectric-items li.highlighted {
    color: #59A750;
    background-color: transparent;
}
.selectric-items li.selected {
    color: #59A750;
    font-weight: 600;
    background-color: transparent;
}
.selectric-button {
    position: absolute;
    right: 20px;
    top: 0;
    display: flex;
    align-items: center;
    width: 10px;
    height: 100%;
}
.selectric-open {
    z-index: 10;
}
.selectric-hover .selectric {
    border-color: #ccc;
}
.selectric-focus .selectric {
    border-color: #ccc;
}
.selectric-icon {
    display: inline-block;
    line-height: 0;
    &:after {
        content: '';
        display: block;
        width: 9px;
        height: 6px;
        background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='9' height='6' viewBox='0 0 9 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3crect x='0.699219' y='0.5' width='7.5' height='1' fill='%2359A750'/%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.21967 0.70921C0.512563 0.430264 0.987437 0.430264 1.28033 0.70921L4.5 0.70921L7.71967 0.70921C8.01256 0.430264 8.48744 0.430264 8.78033 0.70921C9.07322 0.988156 9.07322 1.44042 8.78033 1.71936L5.03033 5.29079C4.73744 5.56974 4.26256 5.56974 3.96967 5.29079L0.21967 1.71936C-0.0732233 1.44042 -0.0732233 0.988156 0.21967 0.70921Z' fill='%2359A750'/%3e%3c/svg%3e ");
    }
}
.selectric:hover .selectric-icon {
    color: #00597d;
}
.selectric-open .selectric {
    border-color: #ccc;
}
.selectric-open .selectric-icon {
    transform: scaleY(-1);
}

.selectric-items .select-disable {
    display: none;
}

.select-simple {}
.select-simple .selectric .label {
    height: 34px;
    line-height: 34px;
    padding-left: 6px;
    padding-right: 6px;
    border-bottom-width: 0;
    text-align: center;
}
.select-simple .selectric {
    border: 1px solid #dcdcdc;
    margin-bottom: 0;
}
.select-simple .selectric-button {
    right: 5px;
}
.select-simple .selectric-items li {
    text-align: left;
}
/*selectric*/

.switch {
    display: flex;
    align-items: center;
    position: relative;
    &-field {
        margin-top: 12x;
        margin-bottom: 12px;
    }
    &-decor {
        display: inline-block;
        vertical-align: middle;
        position: relative;
        width: 47px;
        min-width: 47px;
        height: 25px;
        margin-right: 15px;
        padding: 2px;
        border-radius: 13px;
        background-color: #59A750;
        cursor: pointer;
    }
    &-icon {
        position: absolute;
        top: 3px;
        left: 3px;
        width: 19px;
        height: 19px;
        background-color: #fff;
        border-radius: 50%;
        box-shadow: 0px 0px 2px rgba(244, 163, 42, 0.6);
        transition: left 0.1s ease-in-out 0s;
    }
    &-label {
        line-height: 21px;
        font-size: 14px;
        color: #828282;
    }
    &-label a {
        color: #a0bbc9;
        &:hover {
            text-decoration: none;
            color: #a0bbc9;
        }
    }
    &-checkbox {
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        opacity: 0;
    }
    &-checkbox:checked + &-decor {
    }
    &-checkbox:checked + &-decor &-icon {
        left: 24px;
    }
    &-checkbox:checked ~ &-label {
        color: #333333;
    }

    &_simple &-label {
        font-size: 16px;
        color: $color;
        a {
            color: $color;
        }
    }
    &_simple &-decor {
        margin-right: 8px;
        background-color: #e3e4ea;
    }
    &_simple &-checkbox:checked + &-decor {
        background-color: #014161;
    }

    &-field_modified {
        margin-top: 49px;
    }
}

/* password */
.eye-icon {
    position: absolute;
    bottom: 7px;
    right: 11px;
    color: #afafaf;
    font-size: 20px;
}
.eye-icon_hide { }
.eye-icon_show {
    display: none;
}
.field-password-active {}
.field-password-active .eye-icon_hide {
    display: none;
}
.field-password-active .eye-icon_show {
    display: block;
}
/* /password */

/* slider-range */
.slider-range {
    margin-bottom: 13px;
    &-panel {
        display: flex;
        align-items: center;
        margin-bottom: 35px;
        margin-left: -20px;
        margin-right: -20px;
    }
    &-panel-item {
        display: flex;
        align-items: center;
        flex-grow: 1;
        padding-left: 20px;
        padding-right: 20px;
    }
    &-input {
        flex-grow: 1;
        width: 100%;
        height: 40px;
        line-height: 40px;
        padding: 7px 7px 7px 24px;
        border: solid #E0E0E0;
        border-width: 0 0 1px;
        font-size: 16px;
        letter-spacing: 0.44px;
        color: #828282;
        &:last-child {
            margin-right: 0;
        }
    }
    &-track {
        height: 3px;
        background-color: #eeeeee;
    }
    &-quantity {
        background-color: #59A750;
    }
    &-label {
        position: relative;
        margin-right: -20px;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.44px;
        color: #828282;
    }
    &-text {
        position: absolute;
        top: -32px;
        left: -4px;
        padding: 0 3px;
        width: 25px;
        background-color: #fff;
        font-size: 18px;
        font-weight: 700;
        color: #2a364d;
        text-align: center;
        font-family: 'Calibri', sans-serif;
    }
    & &-track {
        border-width: 0;
    }
    & &-button {
        width: 25px;
        height: 25px;
        box-shadow: 0px 0px 4px rgba(89, 167, 80, 0.4);
        border-radius: 50%;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
        background-color: #fff;
        border-width: 0;
        &:active {
        }
        &:after {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 10px;
            height: 10px;
            background-color: #59A750;
            border-radius: 50%;
            filter: drop-shadow(0px 0.545045px 1.09009px rgba(15, 86, 179, 0.2)) drop-shadow(0px 1.09009px 2.18018px rgba(15, 86, 179, 0.2));
        }
    }
}
/* /slider-range */

.profile-form {
    &-field {
        margin-right: 25px;
    }
    &-input {
        width: 220px;
        padding-left: 23px;
        padding-right: 23px;
    }
    &-password {
        margin-right: 18px;
    }
    &-button {
        min-width: 160px;
    }
    &-group {
        display: flex;
        flex-wrap: wrap;
    }
}

.amount {
    display: flex;
    align-items: center;
    border: 1px solid #E0E0E0;
    width: 83px;
    border-radius: 18px;
    &-counter {
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: 15px;
        width: 15px;
        height: 15px;
        text-align: center;
        text-decoration: none;
        &:hover {
        }
        &:active {
        }
    }
    &-digit {
        min-width: 48px;
        width: 48px;
        height: 37px;
        padding: 2px 6px;
        text-align: center;
        color: #2D2A1E;
        font-size: 15px;
        font-weight: 600;
        line-height: 0;
        background-color: transparent;
        -moz-appearance: textfield;
        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
            -webkit-appearance: none;
        }
    }
    &-icon {
        vertical-align: middle;
        color: #242424;
        font-size: 20px;
    }

    &_simple {
        width: 91px;
        border-radius: 25px;
    }
    &_simple &-digit {
        width: 53px;
        height: 48px;
    }
    &_simple &-counter {
        height: 18px;
    }
}

.help {
    display: flex;
    padding: 21px 32px;
    background-color: rgba(219, 244, 223, 0.7);
    border-radius: 15px;
    color: #333333;
    letter-spacing: normal;
}

@media screen
and (min-width: $desktop){
}

@media screen
and (max-width: $tablet){
    .field {
        margin-bottom: 25px;
        &_simple {
            margin-bottom: 25px;
        }
    }
    .input {
        height: 38px;
        padding: 11px 25px 11px;
        font-size: 14px;
        border-radius: 10px;
    }
    .button {
        height: 37px;
        line-height: 37px;
        padding-right: 20px;
        padding-left: 20px;
        font-size: 12px;
    }
    .selectric .label {
        height: 36px;
        font-size: 14px;
        line-height: 36px;
    }
    .checkbox {
        &-check_simple &-check {
            width: 20px;
            height: 20px;
        }
    }
    .amount {
        &_simple {
            width: 59px;
        }
        &_simple &-digit {
            height: 37px;
            min-width: 32px;
            width: 32px;
            font-size: 14px;
        }
        &_simple &-counter {
            height: 15px;
        }
    }
    .switch {
        &-decor {
            min-width: 41px;
            width: 41px;
            height: 21px;
            margin-right: 10px;
        }
        &-icon {
            top: 2.4px;
            width: 16px;
            height: 16px;
        }
        &-checkbox:checked + &-decor &-icon {
            left: 22px;
        }
        &-label {
            font-size: 12px;
            line-height: 18px;
        }
    }
    .radio {
        &-label {
            font-size: 14px;
            line-height: 20px;
        }
        &-check {
            width: 21px;
            height: 21px;
        }
        &-input:checked + &-check {
            border-width: 5px;
        }
    }
    .help {
        padding: 17px 24px;
        font-size: 12px;
        line-height: 20px;
    }
}

@media screen
and (max-width: $mobile){
    .profile-form {
        &-input {
            width: 100%;
        }
        &-field {
            margin-right: 0;
        }
        &-group {
            margin-bottom: 25px;
            flex-direction: column;
        }
        &-password {
            margin-right: 0;
        }
    }
}
