
.main-banner {
    position: relative;
    margin-bottom: 40px;
    .owl-stage {
        display: flex;
    }
    &-list {
        overflow: hidden;
        margin-right: -45px;
        padding-right: 45px;
    }
    &-item {
        display: flex;
        border-radius: 15px;
        background-color: #F8F7F7;
    }
    &-description {
        width: 49%;
        padding-top: 67px;
        padding-left: 90px;
        padding-bottom: 120px;
    }
    &-img {
        width: 51%;
        border-radius: 0 15px 15px 0;
    }
    &-item_modified {
        position: relative;
    }
    &-item_modified &-img {
        display: flex;
        align-items: center;
        justify-content: center;
        background-repeat: no-repeat;
        background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='1208' height='838' viewBox='0 0 1208 838' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M992.101 197.845C1080.96 281.457 1228.12 349.42 1204.85 465.33C1181.36 582.319 1017.5 655.08 886.191 725.314C768.613 788.202 642.368 839.166 508.653 837.697C368.022 836.151 241.076 793.717 152.268 717.249C55.144 633.622 -22.1086 525.82 6.69093 405.487C35.5968 284.71 163.884 187.696 297.111 112.053C423.242 40.44 572.464 -13.761 714.27 3.74391C847.521 20.1928 909.621 120.239 992.101 197.845Z' fill='url(%23paint0_linear_881_1731)'/%3e%3cdefs%3e%3clinearGradient id='paint0_linear_881_1731' x1='269.494' y1='127.863' x2='712.816' y2='844.677' gradientUnits='userSpaceOnUse'%3e%3cstop stop-color='%23FF8008'/%3e%3cstop offset='1' stop-color='%23FFC837'/%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
        background-position: 67px calc(50% + 8px);
    }
    &-pic-wrapper {
        display: inline-block;
        overflow: hidden;
    }
    &-pic {
        display: block;
        margin-bottom: -76px;
    }
    &-title {
        margin-bottom: 20px;
        font-weight: 800;
        font-size: 42px;
        line-height: 58px;
        color: #0D0C0B;
        text-transform: uppercase;
        letter-spacing: 0.06em;
    }
    &-info {
        margin-bottom: 44px;
        max-width: 440px;
        font-weight: 600;
        font-size: 22px;
        line-height: 35px;
        color: #2D2A1E;
        letter-spacing: 0.08em;
    }
    &-info-label {
        color: #59A750;
        font-weight: 800;
    }
    &-layers {
        position: relative;
        width: 100%;
        height: 100%;
        text-align: center;
        display: flex;
        align-items: flex-end;
    }
    &-layers-1 {
        position: absolute !important;
        top: 0;
        left: 0;
        margin-top: 112px;
        margin-left: -294px;
        width: 324px;
        height: 328px;
        background: url(../images/main-banner/main-banner-layers-1.png) no-repeat 0 0;
        background-size: 100% auto;
    }
    &-layers-2 {
        position: absolute;
        top: 0;
        right: 0;
        left: auto !important;
        margin-top: -15px;
        margin-right: -160px;
        width: 437px;
        height: 436px;
        background: url(../images/main-banner/main-banner-layers-2.png) no-repeat 0 0;
        background-size: 100% auto;
    }
    &-decor {}
    &-panel {
        position: absolute;
        bottom: 70px;
        left: 105px;
    }
}

.counter {
    display: flex;
    align-items: baseline;
    &-number {
        font-size: 22px;
        color: #59A750;
        font-weight: 700;
        text-transform: uppercase;
        vertical-align: middle;
        padding-right: 3px;
    }
    &-total-number {
        color: #2D2A1E;
        font-size: 18px;
    }
    &-number-value {
        padding-right: 3px;
    }
}

.category {
    margin-bottom: 110px;
    &-list {
        overflow: hidden;
    }
    &-item {
        height: 100%;
    }
    &-link {
        position: relative;
        display: block;
        height: 100%;
        padding: 51px 39px 44px 39px;
        text-decoration: none;
        border-radius: 15px;
        overflow: hidden;
        background-color: #F8F7F7;
    }
    &-block {
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 70%;
        max-width: 290px;
    }
    &-img {
        position: absolute;
        right: 0;
        bottom: 0;
        max-width: 70%;
        max-height: none;
    }
    &-label {
        display: block;
        margin-bottom: 41px;
        font-size: 16px;
        line-height: 25px;
        letter-spacing: 0.085em;
        color: #333333
    }
    &-name {
        display: block;
        margin-bottom: 49px;
        font-weight: 700;
        font-size: 22px;
        line-height: 35px;
        letter-spacing: 0.08em;
        color: #0D0C0B;
    }
    &-more {
        margin-top: auto;
        margin-right: auto;
        padding-bottom: 5px;
        font-weight: 600;
        font-size: 16px;
        line-height:  25px;
        letter-spacing: 0.085em;
        color: #333333;
        text-decoration: none;
        border-bottom: 1px solid #333333;
        white-space: nowrap;
    }
}

.catalog-gallery {
    margin-bottom: 110px;
    &-item {
        height: 100%;
        padding-top: 190px;
        transition: padding-top 0.6s cubic-bezier(0.19, 1, 0.22, 1);
    }
    &-link {
        position: relative;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        height: 100%;
        padding-top: 30px;
        border-radius: 15px;
        text-decoration: none;
        background: linear-gradient(115.71deg, #E2E1E5 -4.93%, rgba(239, 239, 239, 0.49) 107.38%);
    }
    &-link_garden {
        background: #FFE68A;
    }
    &-link_holiday {
        background: #D8D8ED;
    }
    &-link_seeds {
        background: #DBF4DF;
    }
    &-link_animal {
        background: #FFB8C4;
    }
    &-link_stationary {
        background: #FFB8C4;
    }
    &-link_relaxation {
        background: #DBF4DF;
    }
    &-link_products-home {
        background: #FFE68A;
    }
    &-link_products-home {
        background: #FFE68A;
    }
    &-link_furniture {
        background: #D8D8ED;
    }
    &-label {
        margin-left: 40px;
        margin-right: 40px;
    }
    &-name {
        display: block;
        margin-bottom: 14px;
        font-weight: 700;
        font-size: 22px;
        line-height: 35px;
        letter-spacing: 0.08em;
        color: #0D0C0B;
        text-transform: uppercase;
    }
    &-more {
        position: absolute;
        left: 0;
        bottom: 43px;
        font-weight: 600;
        font-size: 16px;
        line-height: 25px;
        letter-spacing: 0.085em;
        color: #333333;
        text-decoration: none;
        border-bottom: 1px solid #333333;
        white-space: nowrap;
        text-transform: uppercase;
    }
    &-img {
        margin-top: auto;
        margin-left: auto;
    }
    .owl-item.active &-item {
        padding-top: 116px;
    }
    .owl-item.active ~ .owl-item.active &-item {
        padding-top: 0;
    }
    .owl-item.active + .owl-item.active + .owl-item.active + .owl-item.active &-item {
        padding-top: 116px;
    }
    .owl-item.active:nth-child(1) &-link {
        background: #FFE68A;
    }
    .owl-item.active:nth-child(2) &-link {
        background: #D8D8ED;
    }
    .owl-item.active:nth-child(3) &-link {
        background: #DBF4DF;
    }
    .owl-item.active:nth-child(4) &-link {
        background: #FFB8C4;
    }
}


@media screen
and (max-width: $large){
    .main-banner {
        &-layers-1 {
            width: 199px;
            height: 217px;
            margin-top: 200px;
            margin-left: -181px;
        }
        &-layers-2 {
            width: 237px;
            height: 236px;
            margin-top: 45px;
            margin-right: -168px;
        }
    }
}

@media screen
and (max-width: $desktop){
    .main-banner {
        &-description {
            padding-left: 35px;
            padding-bottom: 90px;
        }
        &-panel {
            left: 35px;
            bottom: 30px;
        }
        &-title {
            font-size: 30px;
            line-height: 34px;
        }
        &-info {
             font-size: 18px;
            line-height: 28px;
        }
        &-layers-1 {
            margin-top: 156px;
        }
        &-layers-2 {
            margin-top: 45px;
        }
    }
    .category {
        &-block {
            max-width: 190px;
        }
        &-label {
            margin-bottom: 20px;
            font-size: 13px;
            line-height: 20px;
        }
        &-name {
            margin-bottom: 27px;
            font-size: 14px;
            line-height: 22px;
        }
        &-more {
            font-size: 12px;
            line-height: 19px;
        }
        &-img {
        }
    }
}

@media screen
and (max-width: $tablet){
    .main-banner {
        margin-bottom: 25px;
        &-description {
            width: 50%;
            padding-top: 35px;
            padding-left: 25px;
            padding-bottom: 60px;
        }
        &-title {
            margin-bottom: 10px;
            font-size: 20px;
            line-height: 28px;
        }
        &-info {
            margin-bottom: 25px;
            font-size: 14px;
            line-height: 20px;
        }
        &-panel {
            left: 25px;
            bottom: 20px;
        }
        &-layers-1 {
            width: 138px;
            height: 137px;
            margin-top: 99px;
            margin-left: -162px;
            background-image: url(../images/main-banner/main-banner-layers-mob-1.png);
        }
        &-layers-2 {
            width: 149px;
            height: 149px;
            margin-top: 45px;
            margin-right: -60px;
            background-image: url(../images/main-banner/main-banner-layers-mob-2.png);
        }
        &-img {
            width: 50%;
        }
        &-item_modified &-img {
            background-position: 32px calc(50% + 8px);
        }
        &-pic-wrapper {
            width: 320px;
            margin-left: -20px;
        }
        &-pic {
            margin-bottom: -37px;
        }
    }
    .counter {
        &-number {
            font-size: 18px;
        }
        &-total-number {
            font-size: 14px;
        }
    }
    .category {
        margin-bottom: 63px;
        &-list {
            margin-right: 70px;
            overflow: visible;
        }
        &-link {
            padding: 28px 25px 30px 25px;
        }
    }
    .catalog-gallery {
        &-list {
            margin-left: 103px;
            margin-right: 103px;
            overflow: visible;
        }
        &-item {
            padding-top: 36px;
        }
        .owl-item.active &-item {
            padding-top: 0;
        }
        .owl-item.active + .owl-item.active + .owl-item.active + .owl-item.active &-item {
            padding-top: 0;
        }
        &-label {
            margin-left: 24px;
            margin-right: 24px;
        }
        &-link {
            padding-top: 30px;
        }
        &-more {
            padding-bottom: 1px;
            bottom: 30px;
            font-size: 12px;
            line-height: 19px;
        }
        &-name {
            font-size: 14px;
            line-height: 22px;
        }
    }
}

@media screen
and (max-width: $mobile){
    .main-banner {
        &-description {
            width: 100%;
            padding-right: 25px;
            padding-bottom: 37px;
        }
        &-img {
            width: 100%;
            border-radius: 0 0 15px 15px;
        }
        &-item_modified &-img {
            justify-content: flex-end;
            background-position: calc(50% + 183px) 2px;
            background-size: 536px auto;
        }
        &-pic-wrapper {
            margin-left: auto;
            border-radius: 0 0 15px 0;
        }
        &-pic {
            margin-bottom: 0;
            position: relative;
            right: -30px;
        }
        &-list {
            margin-bottom: 15px;
        }
        &-item {
            flex-direction: column;
        }
        &-panel {
            position: static;
        }
        &-layers {
            justify-content: center;
            max-width: 300px;
        }
        &-layers-1 {
            width: 95px;
            height: 90px;
            margin-top: -38px;
            margin-left: -32px;
        }
        &-layers-2 {
            width: 95px;
            height: 90px;
            margin-top: -100px;
            margin-right: -24px;
        }
    }
    .category {
        &-list {
            margin-right: 30px;
        }
    }
}
