
.main-banner {
    position: relative;
    margin-bottom: 40px;
    .owl-stage {
        display: flex;
    }
    &-list {
        overflow: hidden;
        margin-right: -45px;
        padding-right: 45px;
    }
    &-item {
        display: flex;
        height: 100%;
        border-radius: 15px;
        background-color: #F8F7F7;
    }
    &-description {
        width: 49%;
        padding-top: 67px;
        padding-left: 90px;
        padding-bottom: 120px;
    }
    &-img {
        width: 51%;
        border-radius: 0 15px 15px 0;
    }
    &-item_modified {
        position: relative;
    }
    &-item_modified &-img {
        display: flex;
        align-items: center;
        justify-content: center;
        background-repeat: no-repeat;
        background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='1208' height='838' viewBox='0 0 1208 838' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M992.101 197.845C1080.96 281.457 1228.12 349.42 1204.85 465.33C1181.36 582.319 1017.5 655.08 886.191 725.314C768.613 788.202 642.368 839.166 508.653 837.697C368.022 836.151 241.076 793.717 152.268 717.249C55.144 633.622 -22.1086 525.82 6.69093 405.487C35.5968 284.71 163.884 187.696 297.111 112.053C423.242 40.44 572.464 -13.761 714.27 3.74391C847.521 20.1928 909.621 120.239 992.101 197.845Z' fill='url(%23paint0_linear_881_1731)'/%3e%3cdefs%3e%3clinearGradient id='paint0_linear_881_1731' x1='269.494' y1='127.863' x2='712.816' y2='844.677' gradientUnits='userSpaceOnUse'%3e%3cstop stop-color='%23FF8008'/%3e%3cstop offset='1' stop-color='%23FFC837'/%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
        background-position: 67px calc(50% + 8px);
    }
    &-pic-wrapper {
        display: inline-block;
        overflow: hidden;
    }
    &-pic {
        display: block;
        max-height: 480px;
    }
    &-item_modified &-pic {
        margin-bottom: -76px;
        max-height: 100%;
    }
    &-title {
        margin-bottom: 20px;
        font-weight: 800;
        font-size: 42px;
        line-height: 58px;
        color: #0D0C0B;
        text-transform: uppercase;
        letter-spacing: 0.06em;
    }
    &-info {
        margin-bottom: 44px;
        max-width: 440px;
        font-weight: 600;
        font-size: 22px;
        line-height: 35px;
        color: #2D2A1E;
        letter-spacing: 0.08em;
    }
    &-info-label {
        color: #59A750;
        font-weight: 800;
    }
    &-layers {
        position: relative;
        width: 100%;
        height: 100%;
        text-align: center;
        display: flex;
        align-items: flex-end;
    }
    &-layers-1 {
        position: absolute !important;
        top: 0;
        left: 0;
        margin-top: 112px;
        margin-left: -294px;
        width: 324px;
        height: 328px;
        background: url(../images/main-banner/main-banner-layers-1.png) no-repeat 0 0;
        background-size: 100% auto;
    }
    &-layers-2 {
        position: absolute;
        top: 0;
        right: 0;
        left: auto !important;
        margin-top: -15px;
        margin-right: -160px;
        width: 437px;
        height: 436px;
        background: url(../images/main-banner/main-banner-layers-2.png) no-repeat 0 0;
        background-size: 100% auto;
    }
    &-decor {}
    &-panel {
        position: absolute;
        bottom: 70px;
        left: 105px;
    }
}

.counter {
    display: flex;
    align-items: baseline;
    &-number {
        font-size: 22px;
        color: #59A750;
        font-weight: 700;
        text-transform: uppercase;
        vertical-align: middle;
        padding-right: 3px;
    }
    &-total-number {
        color: #2D2A1E;
        font-size: 18px;
    }
    &-number-value {
        padding-right: 3px;
    }
}

.category {
    margin-bottom: 110px;
    &-list {
        overflow: hidden;
    }
    &-item {
        height: 100%;
    }
    &-link {
        position: relative;
        display: block;
        height: 100%;
        padding: 51px 39px 44px 39px;
        text-decoration: none;
        border-radius: 15px;
        overflow: hidden;
        background-color: #F8F7F7;
    }
    &-block {
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 70%;
        max-width: 290px;
    }
    &-img {
        position: absolute;
        right: 0;
        bottom: 0;
        max-width: 70%;
        max-height: none;
    }
    &-label {
        display: block;
        margin-bottom: 41px;
        font-size: 16px;
        line-height: 25px;
        letter-spacing: 0.085em;
        color: #333333
    }
    &-name {
        display: block;
        margin-bottom: 49px;
        font-weight: 700;
        font-size: 22px;
        line-height: 35px;
        letter-spacing: 0.08em;
        color: #0D0C0B;
    }
    &-more {
        margin-top: auto;
        margin-right: auto;
    }
}

.catalog-gallery {
    margin-bottom: 110px;
    &-item {
        height: calc(100% - 190px);
    }
    .owl-item {
        margin-top: auto;
    }
    &-link {
        position: relative;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        height: 100%;
        padding-top: 30px;
        border-radius: 15px;
        text-decoration: none;
        background: linear-gradient(115.71deg, #E2E1E5 -4.93%, rgba(239, 239, 239, 0.49) 107.38%);
    }
    &-link_garden {
        background: #FFE68A;
    }
    &-link_holiday {
        background: #D8D8ED;
    }
    &-link_seeds {
        background: #DBF4DF;
    }
    &-link_animal {
        background: #FFB8C4;
    }
    &-link_stationary {
        background: #FFB8C4;
    }
    &-link_relaxation {
        background: #DBF4DF;
    }
    &-link_products-home {
        background: #FFE68A;
    }
    &-link_products-home {
        background: #FFE68A;
    }
    &-link_furniture {
        background: #D8D8ED;
    }
    &-label {
        margin-left: 40px;
        margin-right: 40px;
    }
    &-name {
        display: block;
        min-height: 70px;
        margin-bottom: 14px;
        font-weight: 700;
        font-size: 22px;
        line-height: 35px;
        letter-spacing: 0.08em;
        color: #0D0C0B;
        text-transform: uppercase;
    }
    &-more {
        position: absolute;
        left: 0;
        bottom: 43px;
        font-weight: 600;
        font-size: 16px;
        line-height: 25px;
        letter-spacing: 0.085em;
        color: #333333;
        text-decoration: none;
        border-bottom: 1px solid #333333;
        white-space: nowrap;
        text-transform: uppercase;
    }
    &-pic {
        display: flex;
        height: 238px;
        margin-top: auto;
        margin-left: auto;
    }
    &-img {
        display: block;
        margin-top: auto;
        margin-left: auto;
    }
    .owl-item.active &-item {
        height: calc(100% - 116px);
    }
    .owl-item.active ~ .owl-item.active &-item {
        height: 100%;
    }
    .owl-item.active + .owl-item.active + .owl-item.active + .owl-item.active &-item {
        height: calc(100% - 116px);
    }

    .owl-item.active +.owl-item.active {
        margin-top: 0;
    }
    .owl-item.active + .owl-item.active + .owl-item.active {
        margin-top: 0;
    }
    .owl-item.active + .owl-item.active + .owl-item.active + .owl-item.active {
        margin-top: auto;
    }

    .owl-item.active &-pic {
        height: 328px;
    }
    .owl-item.active +.owl-item.active &-pic {
        height: 430px;
    }
    .owl-item.active + .owl-item.active + .owl-item.active &-pic {
        height: 430px;
    }
    .owl-item.active + .owl-item.active + .owl-item.active + .owl-item.active &-pic {
        height: 328px;
    }

    .owl-item.active:nth-child(1) &-link {
        background: #FFE68A;
    }
    .owl-item.active:nth-child(2) &-link {
        background: #D8D8ED;
    }
    .owl-item.active:nth-child(3) &-link {
        background: #DBF4DF;
    }
    .owl-item.active:nth-child(4) &-link {
        background: #FFB8C4;
    }
}


@media screen
and (max-width: $large){
    .main-banner {
        &-layers-1 {
            width: 199px;
            height: 217px;
            margin-top: 200px;
            margin-left: -181px;
        }
        &-layers-2 {
            width: 237px;
            height: 236px;
            margin-top: 45px;
            margin-right: -168px;
        }
    }
}

@media screen
and (max-width: $desktop){
    .main-banner {
        &-description {
            padding-left: 35px;
            padding-bottom: 90px;
        }
        &-panel {
            left: 35px;
            bottom: 30px;
        }
        &-title {
            font-size: 30px;
            line-height: 34px;
        }
        &-info {
            font-size: 18px;
            line-height: 28px;
        }
        &-layers-1 {
            margin-top: 156px;
        }
        &-layers-2 {
            margin-top: 45px;
        }
    }
    .category {
        &-block {
            max-width: 190px;
        }
        &-label {
            margin-bottom: 20px;
            font-size: 13px;
            line-height: 20px;
        }
        &-name {
            margin-bottom: 27px;
            font-size: 14px;
            line-height: 22px;
        }
        &-more {
            font-size: 12px;
            line-height: 19px;
        }
    }
    .catalog-gallery {
        &-label {
            margin-left: 24px;
            margin-right: 24px;
        }
        &-name {
            min-height: 66px;
            font-size: 18px;
            line-height: 22px;
        }
    }
}

@media screen
and (max-width: $tablet){
    .main-banner {
        margin-bottom: 25px;
        &-description {
            width: 50%;
            padding-top: 35px;
            padding-left: 25px;
            padding-bottom: 60px;
        }
        &-title {
            margin-bottom: 10px;
            font-size: 20px;
            line-height: 28px;
        }
        &-info {
            margin-bottom: 25px;
            font-size: 14px;
            line-height: 20px;
        }
        &-panel {
            left: 25px;
            bottom: 20px;
        }
        &-layers-1 {
            width: 138px;
            height: 137px;
            margin-top: 99px;
            margin-left: -162px;
            background-image: url(../images/main-banner/main-banner-layers-mob-1.png);
        }
        &-layers-2 {
            width: 149px;
            height: 149px;
            margin-top: 45px;
            margin-right: -60px;
            background-image: url(../images/main-banner/main-banner-layers-mob-2.png);
        }
        &-img {
            width: 50%;
        }
        &-item_modified &-img {
            background-position: 32px calc(50% + 8px);
        }
        &-pic-wrapper {
            width: 320px;
            margin-left: -20px;
        }
        &-item_modified &-pic {
            margin-bottom: -37px;
        }
    }
    .counter {
        &-number {
            font-size: 12px;
        }
        &-total-number {
            font-size: 12px;
        }
    }
    .category {
        margin-bottom: 61px;
        &-list {
            margin-right: 70px;
            overflow: visible;
        }
        &-link {
            padding: 28px 25px 30px 25px;
        }
    }
    .catalog-gallery {
        margin-bottom: 62px;
        &-list {
            margin-left: 100px;
            margin-right: 100px;
            overflow: visible;
        }
        &-item {
            height: calc(100% - 36px);
        }
        .owl-item.active &-item {
            height: 100%;
        }
        &-pic {
            height: 224px;
        }
        .owl-item.active &-pic {
            height: 250px;
        }
        .owl-item.active + .owl-item.active &-pic {
            height: 250px;
        }
        &-link {
            padding-top: 30px;
        }
        &-more {
            padding-bottom: 1px;
            bottom: 30px;
            font-size: 12px;
            line-height: 19px;
        }
        &-name {
            min-height: 44px;
            font-size: 14px;
            line-height: 22px;
        }
    }
}

@media screen
and (max-width: $mobile){
    .main-banner {
        &-description {
            width: 100%;
            padding-right: 25px;
            padding-bottom: 37px;
        }
        &-img {
            width: 100%;
            margin-top: auto;
            border-radius: 0 0 15px 15px;
        }
        &-item_modified &-img {
            justify-content: flex-end;
            background-position: calc(50% + 110px) 2px;
            background-size: 536px auto;
        }
        &-pic-wrapper {
            margin-left: auto;
            border-radius: 0 0 15px 0;
        }
        &-pic {
            max-height: 300px;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 0;
        }
        &-item_modified &-pic {
            position: relative;
            right: -30px;
            margin-bottom: 0;
        }
        &-list {
            margin-bottom: 15px;
        }
        &-item {
            flex-direction: column;
        }
        &-panel {
            position: static;
        }
        &-layers {
            justify-content: center;
            max-width: 300px;
        }
        &-layers-1 {
            width: 95px;
            height: 90px;
            margin-top: -38px;
            margin-left: -32px;
        }
        &-layers-2 {
            width: 95px;
            height: 90px;
            margin-top: -100px;
            margin-right: -24px;
        }
    }
    .category {
        &-list {
            margin-right: 30px;
        }
    }
    .catalog-gallery {
        &-list {
            margin-left: 0;
            margin-right: 103px;
            overflow: visible;
        }
        &-item {
            height: 100%;
        }
        .owl-item {
            margin-top: 0;
        }
        &-pic {
            height: 250px;
        }
    }
}


.links {
    display: flex;
    justify-content: center;
    margin-bottom: 45px;
    &-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    &-item {
        margin-right: 23px;
        margin-left: 23px;
        margin-bottom: 15px;
    }
    &-item_switcher {}
    &-item:nth-child(4) ~ &-item {
        display: none;
    }
    &-item:nth-child(4) ~ &-item_switcher {
        display: block;
    }
    &-label {
        padding-bottom: 4px;
        font-weight: 600;
        font-size: 16px;
        line-height: 23px;
        color: #333333;
        text-decoration: none;
        white-space: nowrap;
        border-bottom: 1px solid transparent;
        &:hover {
            color: #59A750;
        }
    }
    &-label_active {
        color: #59A750;
        font-weight: 800;
        border-color: #59A750;
        &:hover {
        }
    }
    &-switcher {
        text-decoration: none;
    }
    &-switcher-label {
        position: relative;
        top: -2px;
        font-weight: 600;
        font-size: 36px;
        color: #4F4F4F;
        line-height: 10px;
    }
    &-switcher-hide {
        display: none;
        font-size: 14px;
        text-decoration: underline;
    }
    &_active &-item:nth-child(4) ~ &-item {
        display: block;
    }
    &_active &-switcher-label {
        display: none;
    }
    &_active &-switcher-hide {
        display: block;
    }
}

.price {
    margin-right: 16px;
    font-weight: 800;
    font-size: 26px;
    line-height: 38px;
    letter-spacing: 0.085em;
    color: #0D0C0B;
    white-space: nowrap;
    &-currency {
        margin-left: 6px;
        font-size: 25px;
    }
}

.price-old {
    margin-right: 17px;
    text-decoration: line-through;
    font-size: 14px;
    color: #111111;
    white-space: nowrap;
    letter-spacing: 0.085em;
    &-currency {
        margin-left: -1px;
        font-size: 14px;
    }
}

.discount {
    display: inline-block;
    min-height: 18px;
    line-height: 12px;
    padding: 3px 13px 2px;
    font-size: 10px;
    background-color: rgba(255, 88, 0, 0.7);
    border-radius: 3px;
    color: #fff;
    font-weight: 700;
    text-align: center;
    letter-spacing: 0.085em;
}

.marks {
    display: flex;
    flex-wrap: wrap;
    &-item {
        margin-bottom: 5px;
    }
    &-item_element:first-child {
        float: left;
    }
    &-item_element:nth-child(1) ~ &-item_element {
        display: none;
    }
    &-item_switcher {
    }
    &-item_element:nth-child(1) + &-item_switcher {
        display: none;
    }
    &-item_last { }
    &-label {
        display: inline-block;
        min-height: 30px;
        padding: 0 20px;
        border-radius: 5px;
        background-color: #FF614B;
        text-decoration: none;
        font-size: 13px;
        line-height: 30px;
        color: #fff;
        font-weight: 600;
        &:hover {
            color: #fff;
        }
    }
    &-label_hit {
        background-color: #A374A7;
    }

    &-switcher {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30px;
        height: 30px;
        margin-left: 20px;
        background-color: #fff;
        border: 1px solid #E0E0E0;
        border-radius: 5px;
    }
    &-icon {
        margin-top: 1px;
    }
    &_active {
        display: block;
    }
    &_active &-switcher {
        transform: scaleY(-1);
    }
    &_active &-item_last {
        float: left;
    }
    &_active &-switcher {
        transform: scaleY(-1);
        margin-left: 0;
    }
    &_active &-item_switcher {
        float: left;
    }
    &_active &-item_element:nth-child(1) ~ &-item_element {
        display: block;
    }
}

.products {
    margin-bottom: 90px;
    &-title {
        margin-bottom: 34px;
    }
    &-list {
        overflow: hidden;
        margin: -20px -20px 0;
        padding: 20px 20px 20px;
    }
    &-item {
        height: 100%;
    }
    &-block {
        height: 100%;
        padding: 30px 30px 40px;
        border-radius: 15px;
    }
    &-link {
        display: block;
        margin-bottom: 23px;
    }
    &-img {
        display: block;
        width: 100%;
        border-radius: 15px;
    }
    &-logo {
        display: block;
        height: 29px;
        margin-bottom: 15px;
    }
    &-name {
        display: inline-block;
        margin-bottom: 23px;
        min-height: 62px;
        font-weight: 700;
        font-size: 18px;
        line-height: 31px;
        letter-spacing: 0.085em;
        text-transform: uppercase;
        text-decoration: none;
        color: #0D0C0B;
        &:hover {
            color: #0D0C0B;
        }
    }
    &-price {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin-bottom: 20px;
    }
    &-button {
        width: 100%;
    }
    &-icon {
        vertical-align: middle;
        margin-top: -4px;
        margin-right: 15px;
    }
    &-links {}
    &-links-item {}
    &-links-label {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50px;
        height: 50px;
        border: 1px solid #E0E0E0;
        border-radius: 50%;
    }
    &-panel {
        display: flex;
        position: relative;
        margin-bottom: 10px;
        min-height: 30px;
    }
    &-links {
        margin-left: auto;
    }
    &-marks {
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        height: 30px;
    }
    &-actions {
        visibility: hidden;
    }
    &-block:hover {
        box-shadow: 0px 0px 30px rgba(206, 206, 206, 0.4);
    }
    &-block:hover &-actions {
        visibility: visible;
    }

    &-block_simple {
        height: auto;
        padding-top: 36px;
        margin-bottom: 30px;
    }
    &-box {
        display: flex;
    }
    &-pic {
        width: 41%;
        padding-right: 30px;
    }
    &-detail {
        width: 59%;
    }
    &-block_simple &-actions {
        display: flex;
        align-items: center;
    }
    &-block_simple &-button {
        margin-right: 20px;
        width: auto;
        padding-left: 48px;
        padding-right: 48px;
    }
    &-block_simple &-links {
        margin-left: auto;
    }
    &-block_simple &-panel {
        margin-bottom: 17px;
    }
    &-block_simple &-link {
        margin-bottom: 0;
    }
}


@media screen
and (max-width: $large){
}

@media screen
and (max-width: $desktop){
    .products {
        margin-bottom: 42px;
    }
}

@media screen
and (max-width: $tablet){
    .marks {
        &-label {
            padding-left: 13px;
            padding-right: 13px;
            min-height: 25px;
            line-height: 25px;
            font-size: 12px;
        }
        &-switcher {
            width: 25px;
            height: 25px;
            margin-left: 15px;
        }
    }
    .products {
        &-list {
            overflow: visible;
        }
        &-title {
            margin-bottom: 14px;
        }
        &-list {
            margin-right: 60px;
        }
        &-block {
            padding: 20px 25px 30px;
        }
        &-panel {
            min-height: 25px;
        }
        &-links-label {
            width: 37px;
            height: 37px;
        }
        &-name {
            margin-bottom: 18px;
            min-height: 44px;
            font-size: 14px;
            line-height: 22px;
        }
        &-icon {
            margin-right: 10px;
        }
        &-actions {
            visibility: visible;
        }
        &-block_simple {
            width: 48%;
            margin-right: 25px;
            &:last-child {
                margin-right: 0;
            }
        }
        &-block_simple &-box {
            display: block;
            position: relative;
        }
        &-block_simple &-pic {
            width: 100%;
            padding-right: 0;
        }
        &-block_simple &-link {
            margin-bottom: 23px;
        }
        &-block_simple &-detail {
            width: 100%;
        }
        &-block_simple &-links {
            position: absolute;
            top: -5px;
            right: 0;
        }
        &-block_simple &-button {
            margin-right: 0;
            width: 100%;
        }
    }
    .price {
        margin-right: 10px;
        font-size: 18px;
        line-height: 26px;
        &-currency {
            margin-left: 4px;
            font-size: 17px;
        }
    }
    .price-old {
        margin-right: 10px;
        font-size: 11px;
        line-height: 16px;
        &-currency {
            font-size: 11px;
        }
    }
    .discount {
        font-size: 9px;
        padding-right: 4px;
        padding-left: 4px;
    }
    .links {
        margin-bottom: 30px;
        &-item {
            margin-right: 12px;
            margin-left: 12px;
            margin-bottom: 5px;
        }
        &-label {
            font-size: 12px;
            line-height: 17px;
        }
        &-switcher-label {
            font-size: 18px;
        }
        &-switcher-hide {
            font-size: 12px;
        }
    }
}

@media screen
and (max-width: $mobile){
    .links {
        &-item:nth-child(2) ~ &-item {
            display: none;
        }
        &-item:nth-child(2) ~ &-item_switcher {
            display: block;
        }
        &_active &-item:nth-child(2) ~ &-item {
            display: block;
        }
    }
    .products {
        .owl-item.active &-block {
            box-shadow: 0px 0px 30px rgba(206, 206, 206, 0.4);
        }
    }
}


.new {
    &-item {
        width: 436px;
    }
    &-item_wide {
        width: 640px;
    }
}


.about {
    margin-bottom: 108px;
    &-img {
        padding-right: $gutters;
    }
    &-description {
    }
    &-detail {
        margin-bottom: 28px;
    }
    &-subtitle {
        display: block;

    }
}

.instagram {
    margin-bottom: 112px;
    padding-top: 10px;
    &-list {}
    &-item {
        height: 100%;
     }
    &-item_simple {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &-block {
        height: 100%;
        overflow: hidden;
        border-radius: 15px;
    }
    &-link {
        display: block;
    }
    &-img {
        display: block;
        width: 100%;
    }
    &-item:hover &-block {
        box-shadow: 0px 0px 30px rgba(207, 201, 201, 0.4);
    }
    &-img_simple {
        object-fit: cover;
    }
    &-info {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 20px;
    }
    &-info-name {
        margin-bottom: 24px;
        font-weight: 800;
        font-size: 36px;
        line-height: 52px;
        text-align: center;
        letter-spacing: 0.085em;
        color: #0D0C0B;
        text-transform: uppercase;
    }
    &-info-detail {
        font-weight: 800;
        font-size: 24px;
        line-height: 40px;
        text-align: center;
        letter-spacing: 0.085em;
        color: #59A750;
        text-transform: uppercase;
        a {
            color: #59A750;
        }
    }
}

.subscribe {
    display: flex;
    align-items: center;
    padding: 25px 34px 25px 96px;
    border-radius: 15px;
    background-color: #DBF4DF;
    &-info {
        position: relative;
        margin-right: 40px;
        font-weight: 700;
        font-size: 24px;
        line-height: 35px;
        color: #0D0C0B;
    }
    &-layer-1 {
        position: absolute;
        top: -55px;
        left: -133px;
        width: 112px;
        height: 82px;
        background: url("../images/subscribe/subscribe-decor-1.png") no-repeat 0 0;
        background-size: 100% auto;
    }
    &-layer-2 {
        position: absolute;
        top: -63px;
        right: -80px;
        width: 73px;
        height: 90px;
        background: url("../images/subscribe/subscribe-decor-2.png") no-repeat 0 0;
        background-size: 100% auto;
    }
    &-form {
        margin-left: auto;
    }
    &-field {
        display: flex;
    }
    &-input {
        width: 230px;
        height: 50px;
        margin-right: 40px;
        padding-left: 30px;
        padding-right: 30px;
        background-color: #fff;
        font-size: 16px;
        color: #828282;
        border-radius: 25px;
        text-align: center;
        &::placeholder {
            font-size: 16px; color: $colorPlaceholder;
        }
    }
    &-button {
        padding-left: 22px;
        padding-right: 22px;
    }
}

.video {
    margin-bottom: 120px;
    &-list {
        margin-right: 310px;
    }
    &-item {
        display: flex;
        min-height: 360px;
        position: relative;
    }
    &-pic {
        width: 49%;
        position: absolute;
        top: 0;
        left: 0;
        padding-right: $gutters;
    }
    &-description {
        width: 51%;
        margin-left: 49%;
        max-width: 545px;
    }
    &-link {
        position: relative;
        display: block;
        &:after {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 159px;
            height: 159px;
            background: url("../images/video/video-play-bgr.png") no-repeat 0 0;
            background-size: 100% auto;
        }
        &:hover {
            box-shadow: 0px 4px 30px rgba(207, 201, 201, 0.4);
        }
    }
    &-img {
        display: block;
        width: 100%;
        border-radius: 15px;
    }
    &-panel {
        display: flex;
        align-items: center;
        letter-spacing: normal;
        margin-bottom: 24px;
    }
    &-icon {
        margin-right: 25px;
    }
    &-info {
        font-weight: 600;
        margin-bottom: 40px;
    }
    &-info-main {
        text-transform: uppercase;
        color: #0D0C0B;
        font-size: 18px;
        line-height: 31px
    }
    &-actions {
        display: flex;
        align-items: center;
    }
    &-actions-link {
        margin-right: 60px;
    }
    &-button {
        padding-left: 22px;
        padding-right: 22px;
    }
}

@media screen
and (max-width: $large){
    .subscribe {
        &-layer-2 {
            display: none;
        }
    }
    .new {
        &-item {
            width: auto;
        }
        &-item_wide {
            width: auto;
        }
    }
}

@media screen
and (max-width: $desktop){
    .new {
        &-item {
            width: auto;
        }
        &-item_wide {
            width: auto;
        }
    }
    .subscribe {
        &-info {
            font-size: 18px;
            line-height: 26px;
        }
    }
    .video {
        &-list {
            margin-right: 130px;
        }
    }
}

@media screen
and (max-width: $tablet){
    .new {
        &-item {
            width: 403px;
        }
        &-item_wide {
            width: 830px;
            display: flex;
        }
    }
    .instagram {
        margin-bottom: 70px;
        &-list {
            margin-right: 45px;
        }
        &-info-name {
            margin-bottom: 8px;
            font-size: 14px;
            line-height: 20px;
        }
        &-info-detail {
            font-size: 14px;
            line-height: 26px;
        }
    }
    .subscribe {
        padding: 20px 25px;
        &-layer-1 {
            width: 45px;
            height: 32px;
            top: 50%;
            left: -51px;
            transform: translateY(calc(-50% - 3px));
        }
        &-layer-2 {
            display: none;
        }
        &-info {
            font-size: 14px;
            line-height: 17px;
        }
        &-input {
            width: 132px;
            height: 37px;
            margin-right: 16px;
            line-height: 37px;
            padding-left: 20px;
            padding-right: 20px;
            font-size: 12px;
            &::placeholder {
                font-size: 12px;
            }
        }
    }
    .video {
        margin-bottom: 70px;
        &-list {
            margin-right: 45px;
        }
        &-item {
            min-height: 260px;
        }
        &-info {
            margin-bottom: 26px;
        }
        &-info-main {
            margin-bottom: 12px;
            font-size: 14px;
            line-height: 24px;
        }
        &-panel {
            margin-bottom: 18px;
            font-size: 20px;
        }
        &-pic {
            width: 58%;
            padding-right: 25px;
        }
        &-description {
            width: 42%;
            max-width: none;
            margin-left: 58%;
        }
        &-actions-link {
            margin-right: 20px;
        }
        &-button {
            display: none;
        }
        &-link {
            &:after {
                width: 94px;
                height: 94px;
            }
        }
    }
}

@media screen
and (max-width: 800px){
    .new {
        &-item {
            width: 290px;
        }
        &-item_wide {
            width: 605px;
        }
    }
}

@media screen
and (max-width: $mobile){
    .new {
        &-item {
            width: 542px;
        }
        &-item_wide {
            width: 1108px;
        }
    }
    .instagram {
        margin-bottom: 40px;
        &-list {
            display: flex;
            flex-wrap: wrap;
            margin-right: -12px;
            margin-left: -12px;
        }
        &-item {
            width: 50%;
            padding-right: 12px;
            padding-left: 12px;
            margin-bottom: 24px;
        }
        &-info-detail {
            font-size: 10px;
            line-height: 14px;
        }
    }
    .subscribe {
        position: relative;
        flex-direction: column;
        padding-top: 29px;
        padding-bottom: 35px;
        &-info {
            position: static;
            margin-right: 0;
            margin-bottom: 16px;
            font-size: 17px;
            line-height: 25px;
        }
        &-layer-1 {
            top: auto;
            bottom: 0;
            left: -25px;
            transform: none;
        }
        &-layer-2 {
            display: block;
            top: -16px;
            right: -5px;
            width: 36px;
            height: 46px;
        }
        &-field {
            flex-direction: column;
        }
        &-form {
            margin-left: 0;
            width: 100%;
        }
        &-field {
            width: 100%;
        }
        &-input {
            width: 100%;
            margin-bottom: 25px;
            margin-right: 0;
        }
        &-button {
            width: 100%;
        }
        &-info-label {
            display: none;
        }
    }
    .video {
        &-list {
            margin-right: 30px;
        }
        &-item {
            flex-direction: column;
            min-height: auto;
        }
        &-pic {
            position: static;
            width: 100%;
            padding-right: 0;
            margin-bottom: 23px;
        }
        &-description {
            width: 100%;
            margin-left: 0;
        }
        &-panel {
            margin-bottom: 27px;
            justify-content: center;
        }
    }
}

@media screen
and (max-width: 500px) {
    .new {
        &-item {
            width: 250px;
        }
        &-item_wide {
            width: 524px;
        }
    }
}


.about {
    margin-bottom: 220px;
    &-title {
        margin-bottom: 75px;
    }
    &-gallery {
    }
    &-gallery-box {
        position: relative;
        display: inline-block;
        transition: transform 0.4s ease-in-out;
    }
    &-container {
        display: flex;
    }
    &-img {
        width: 52%;
        padding-left: 60px;
    }
    &-description {
        width: 48%;
        padding-top: 10px;
    }
    &-block {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 540px;
        height: 540px;
        padding: 34px;
        border-radius: 50%;
        background: url("../images/about/about-bgr.png") no-repeat center center;
        background-size: 100% auto;
        border: 25px solid #fff;
        outline: 1px solid rgba(89, 167, 80, 0.57);
    }
    &-logo {
        max-width: 359px;
        max-height: 74px;
        margin-top: 29px;
    }
    &-gallery-list {}
    &-slider-panel {
        margin-left: 520px;
        margin-top: -76px;
    }
    & .owl-stage {
        width: auto!important;
        transform: none!important;
    }
    & .owl-item {
        display: none;
    }
    & .owl-item.active {
        display: block;
    }
    &-gallery-item {
        overflow: hidden;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        width: 226px;
        height: 226px;
        border-radius: 50%;
        border: 20px solid #fff;
        box-shadow: 0px 0px 20px rgba(206, 206, 206, 0.4);
        transition: transform 0.2s ease-in-out;
        &:hover {
            border-width: 14px;
            transform: scale(1.65);
        }
    }
    .owl-item.active {
        position: absolute;
        left: 15%;
        bottom: -16%;
        z-index: 1;
    }
    .owl-item.active + .owl-item.active {
        bottom: auto;
        top: 9%;
        left: -11%;
    }
    .owl-item.active + .owl-item.active + .owl-item.active {
        bottom: auto;
        left: auto;
        top: 1%;
        right: -22%;
    }
    & .owl-item.active &-gallery-item {
        background-color: #FFE68A;
    }
    & .owl-item.active + .owl-item.active &-gallery-item {
        background-color: #FFB8C4;
        width: 187px;
        height: 187px;
    }
    & .owl-item.active + .owl-item.active + .owl-item.active &-gallery-item {
        background-color: #DBF4DF;
        width: 226px;
        height: 226px;
    }
    & .owl-item.active + .owl-item.active &-gallery-item:hover {
        &:hover {
            border-width: 14px;
            transform: scale(1.9);
        }
    }
    & .owl-item.active + .owl-item.active + .owl-item.active &-gallery-item:hover {
        &:hover {
            border-width: 14px;
            transform: scale(1.65);
        }
    }
}

@media screen
and (min-width: $desktop) and (max-width: $large) {
    .about {
        &-img {
            width: 50%;
        }
        &-description {
            width: 50%;
        }
    }
}

@media screen
and (max-width: $large){
    .about {
        &-block {
            width: 440px;
            height: 440px;
        }
        &-logo {
            max-width: 245px;
        }
        &-slider-panel {
            margin-left: 365px;
            margin-top: -30px;
            width: 190px;
        }
        &-gallery-item {
            width: 173px;
            height: 173px;
            border-width: 13px;
            &:hover {
                border-width: 8px;
            }
        }
        & .owl-item.active + .owl-item.active &-gallery-item {
            width: 157px;
            height: 157px;
        }
        & .owl-item.active + .owl-item.active + .owl-item.active &-gallery-item {
            width: 173px;
            height: 173px;
        }

        & .owl-item.active + .owl-item.active &-gallery-item:hover {
            &:hover {
                border-width: 8px;
                transform: scale(1.9);
            }
        }
        & .owl-item.active + .owl-item.active + .owl-item.active &-gallery-item:hover {
            &:hover {
                border-width: 8px;
                transform: scale(1.65);
            }
        }
    }
}

@media screen
and (max-width: $desktop){
    .about {
        margin-bottom: 70px;
        &-img {
            padding-left: 23px;
        }
        &-slider-panel {
            margin-top: -21px;
            margin-left: 284px;
        }
        &-block {
            width: 380px;
            height: 380px;
            border-width: 15px;
        }
    }
}

@media screen
and (max-width: $tablet){
    .about {
        margin-bottom: 60px;
        &-title {
            margin-bottom: 30px;
        }
        &-img {
            padding-right: 25px;
        }
        &-description {
            padding-top: 0;
        }
        &-subtitle {
            margin-bottom: 20px;
        }
        &-block {
            width: 220px;
            height: 220px;
            border: 10px solid #fff;
        }
        &-logo {
            max-width: 146px;
            margin-top: 14px;
        }
        &-slider-panel {
            width: 120px;
            margin-left: 200px;
            margin-top: -15px;
        }
        &-gallery-item {
            width: 93px;
            height: 93px;
            border-width: 9px;
        }
        & .owl-item.active + .owl-item.active &-gallery-item {
            width: 77px;
            height: 77px;
        }
        & .owl-item.active + .owl-item.active + .owl-item.active &-gallery-item {
            width: 93px;
            height: 93px;
        }
    }
}

@media screen
and (max-width: $mobile) {
    .about {
        &-title {
            margin-bottom: 56px;
        }
        &-subtitle {
            font-size: 14px;
            line-height: 22px;
        }
        &-container {
            flex-direction: column;
        }
        &-img {
            width: 100%;
            margin-bottom: 25px;
            padding-right: 0;
            padding-left: 0;
        }
        &-description {
            width: 100%;
            text-align: center;
        }
        &-gallery {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        &-gallery-box {
            margin-bottom: 90px;
        }
        &-slider-panel {
            margin-top: 0;
            margin-left: 0;
        }
        &-gallery-item {
            width: 106px;
            height: 106px;
        }
        .owl-item.active {
            bottom: auto;
            top: -10%;
            left: -18%;
        }
        .owl-item.active + .owl-item.active {
            bottom: auto;
            left: auto;
            top: -10%;
            right: -15%;
        }
        .owl-item.active + .owl-item.active + .owl-item.active {
            top: auto;
            left: 27%;
            bottom: -33%;
        }
        & .owl-item.active + .owl-item.active &-gallery-item {
            width: 92px;
            height: 92px;
        }
        & .owl-item.active + .owl-item.active + .owl-item.active &-gallery-item {
            width: 106px;
            height: 106px;
        }
    }
}


.products-popup {
    &-form-block {
        height: 100%;
        max-width: 640px;
        padding-top: 70px;
    }
    &-container {
        padding-left: 40px;
        padding-right: 40px;
    }
    &-panel {
        display: flex;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        padding-top: 25px;
        padding-bottom: 25px;
    }
    &-basket {
        margin-right: auto;
        font-weight: 700;
        font-size: 15px;
        line-height: 20px;
        letter-spacing: 0.007em;
        color: #59A750;
        text-decoration: none;
        &:hover {
            color: #59A750;
        }
    }
    &-basket-icon {
        vertical-align: middle;
        margin-top: -4px;
        margin-right: 9px;
    }
    &-delete-link {
        font-weight: 600;
        font-size: 15px;
        line-height: 20px;
        letter-spacing: 0.007em;
        text-decoration-line: underline;
        color: #A5A5A5;
        &:hover {
            color: #A5A5A5;
            text-decoration: none;
        }
    }
    &-close {
        margin-left: 35px;
        font-weight: 600;
        font-size: 15px;
        line-height: 20px;
        letter-spacing: 0.007em;
        color: #111111;
        text-decoration: none;
    }
    &-close-icon {
        margin-left: 5px;
        vertical-align: middle;
    }
    &-body {
        height: 100%;
    }
    &-content {
        overflow-y: auto;
        height: calc(100% - 100px);
        margin-left: -10px;
    }
    &-list {
        padding-top: 10px;
        padding-left: 10px;
        padding-bottom: 10px;
    }
    &-item {
        display: flex;
        padding: 20px 33px 37px 17px;
        &:hover {
            box-shadow: 0px 0px 20px rgba(206, 206, 206, 0.4);
        }
    }
    &-item_hide {
        display: none;
    }
    &-col {
        padding-right: 20px;
        &:last-child {
            padding-right: 0;
        }
    }
    &-img {
        width: 26%;
    }
    &-description {
        width: 50%;
    }
    &-actions {
        width: 24%;
        text-align: right;
    }
    &-logo {
        display: block;
        margin-bottom: 13px;
        max-width: 140px;
        max-height: 29px;
    }
    &-name {
        display: inline-block;
        margin-bottom: 10px;
        font-weight: 600;
        font-size: 12px;
        line-height: 18px;
        letter-spacing: 0.06em;
        text-decoration: none;
        color: #2D2A1E;
        &:hover {
            color: #2D2A1E;
            text-decoration: underline;
        }
    }
    &-link {
        font-weight: 600;
        font-size: 12px;
        line-height: 16px;
        letter-spacing: 0.06em;
        text-decoration: underline;
        color: #A5A5A5;
        &:hover {
            color: #A5A5A5;
            text-decoration: none;
        }
    }
    &-price-value {
        font-weight: 800;
        font-size: 15px;
        line-height: 22px;
        letter-spacing: 0.04em;
        color: #2D2A1E;
    }
    &-currency {
        font-size: 14px;
    }
    &-discount-wrapper {
        margin-bottom: 14px;
    }
    &-discount {
        margin-right: 10px;
        padding-left: 4px;
        padding-right: 4px;
        font-size: 9px;
    }
    &-price-old {
        font-size: 11px;
        line-height: 16px;
        letter-spacing: 0.04em;
        color: #111111;
        text-decoration: line-through;
    }
    &-price-old-currency {
    }
    &-amount {
        display: inline-block;
    }
    &-buttons {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: center;
    }
    &-button {
        margin-right: 25px;
        padding-left: 20px;
        padding-right: 20px;
    }
    &-total {
    }
    &-total-label {
        font-weight: 700;
        font-size: 18px;
        line-height: 26px;
        color: #111111;
    }
    &-total-price {
        font-weight: 800;
        font-size: 18px;
        line-height: 26px;
        letter-spacing: 0.085em;
        color: #111111;
    }
    &-total-currency {
        font-size: 17px;
    }
    &-progressbar {
        position: absolute;
        top: 0;
        right: 0;
        width: 120px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &-counter-number {
        font-size: 12px;
    }
    &-counter-total-number {
        font-size: 12px;
    }
    &-slider-nav {
        width: 65px;
        min-width: 65px;
    }
    &-slider-indicator {
        width: 32px;
    }
    &-slider-button {
        visibility: hidden;
        width: 24px;
    }
    &-slider-button-icon {
        width: 5px;
        height: 12px;
    }
    &-more {
        position: relative;
        text-align: center;
        margin-bottom: 33px;
    }
    &-show-more-label {
        font-weight: 800;
        font-size: 12px;
        line-height: 16px;
        letter-spacing: 0.08em;
        text-transform: uppercase;
        color: #59A750;
    }
    &-basket-label {
    }
}

@media screen
and (max-width: $mobile) {
    .products-popup {
        &-content {
            height: calc(100% - 180px);
        }
        &-panel {
            justify-content: space-between;
        }
        &-item {
            padding: 15px 17px 15px;
            flex-wrap: wrap;
        }
        &-img {
            width: 30%;
        }
        &-description {
            width: 70%;
        }
        &-actions {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
        }
        &-container {
            padding-left: 20px;
            padding-right: 20px;
        }
        &-buttons {
            flex-direction: column;
        }
        &-total {
            margin-bottom: 10px;
            order: -1;
        }
        &-button {
            margin-bottom: 10px;
            width: 100%;
        }
        &-progressbar {
            position: static;
            margin-left: auto;
            margin-right: auto;
        }
        &-more {
            margin-bottom: 15px;
        }
        &-price-value {
            margin-right: 20px;
        }
        &-discount-wrapper {
            margin-right: 20px;
            margin-bottom: 0;
        }
        &-basket {
            margin-right: 15px;
        }
        &-basket-label {
            display: none;
        }
        &-basket-icon {
            margin-right: 2px;
        }
        &-delete-link {
            font-size: 12px;
        }
        &-close {
            margin-left: 15px;
            font-size: 12px;
        }
        &-logo {
            display: block;
            margin-bottom: 5px;
            max-width: 100px;
            max-height: 20px;
        }
        &-col {
            padding-right: 15px;
        }
    }
}