
.main-banner {
    position: relative;
    margin-bottom: 40px;
    .owl-stage {
        display: flex;
    }
    &-list {
        overflow: hidden;
        margin-right: -45px;
        padding-right: 45px;
    }
    &-item {
        display: flex;
        border-radius: 15px;
        background-color: #F8F7F7;
    }
    &-description {
        width: 49%;
        padding-top: 67px;
        padding-left: 90px;
        padding-bottom: 120px;
    }
    &-img {
        width: 51%;
        border-radius: 0 15px 15px 0;
    }
    &-item_modified {
        position: relative;
    }
    &-item_modified &-img {
        display: flex;
        align-items: center;
        justify-content: center;
        background-repeat: no-repeat;
        background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='1208' height='838' viewBox='0 0 1208 838' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M992.101 197.845C1080.96 281.457 1228.12 349.42 1204.85 465.33C1181.36 582.319 1017.5 655.08 886.191 725.314C768.613 788.202 642.368 839.166 508.653 837.697C368.022 836.151 241.076 793.717 152.268 717.249C55.144 633.622 -22.1086 525.82 6.69093 405.487C35.5968 284.71 163.884 187.696 297.111 112.053C423.242 40.44 572.464 -13.761 714.27 3.74391C847.521 20.1928 909.621 120.239 992.101 197.845Z' fill='url(%23paint0_linear_881_1731)'/%3e%3cdefs%3e%3clinearGradient id='paint0_linear_881_1731' x1='269.494' y1='127.863' x2='712.816' y2='844.677' gradientUnits='userSpaceOnUse'%3e%3cstop stop-color='%23FF8008'/%3e%3cstop offset='1' stop-color='%23FFC837'/%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
        background-position: 67px calc(50% + 8px);
    }
    &-pic-wrapper {
        display: inline-block;
        overflow: hidden;
    }
    &-pic {
        display: block;
        margin-bottom: -76px;
    }
    &-title {
        margin-bottom: 20px;
        font-weight: 800;
        font-size: 42px;
        line-height: 58px;
        color: #0D0C0B;
        text-transform: uppercase;
        letter-spacing: 0.06em;
    }
    &-info {
        margin-bottom: 44px;
        max-width: 440px;
        font-weight: 600;
        font-size: 22px;
        line-height: 35px;
        color: #2D2A1E;
        letter-spacing: 0.08em;
    }
    &-info-label {
        color: #59A750;
        font-weight: 800;
    }
    &-layers {
        position: relative;
        width: 100%;
        height: 100%;
        text-align: center;
        display: flex;
        align-items: flex-end;
    }
    &-layers-1 {
        position: absolute !important;
        top: 0;
        left: 0;
        margin-top: 112px;
        margin-left: -294px;
        width: 324px;
        height: 328px;
        background: url(../images/main-banner/main-banner-layers-1.png) no-repeat 0 0;
        background-size: 100% auto;
    }
    &-layers-2 {
        position: absolute;
        top: 0;
        right: 0;
        left: auto !important;
        margin-top: -15px;
        margin-right: -160px;
        width: 437px;
        height: 436px;
        background: url(../images/main-banner/main-banner-layers-2.png) no-repeat 0 0;
        background-size: 100% auto;
    }
    &-decor {}
    &-panel {
        position: absolute;
        bottom: 70px;
        left: 105px;
    }
}

.counter {
    display: flex;
    align-items: baseline;
    &-number {
        font-size: 22px;
        color: #59A750;
        font-weight: 700;
        text-transform: uppercase;
        vertical-align: middle;
        padding-right: 3px;
    }
    &-total-number {
        color: #2D2A1E;
        font-size: 18px;
    }
    &-number-value {
        padding-right: 3px;
    }
}

.category {
    margin-bottom: 110px;
    &-list {
        overflow: hidden;
    }
    &-item {
        height: 100%;
    }
    &-link {
        position: relative;
        display: block;
        height: 100%;
        padding: 51px 39px 44px 39px;
        text-decoration: none;
        border-radius: 15px;
        overflow: hidden;
        background-color: #F8F7F7;
    }
    &-block {
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 70%;
        max-width: 290px;
    }
    &-img {
        position: absolute;
        right: 0;
        bottom: 0;
        max-width: 70%;
        max-height: none;
    }
    &-label {
        display: block;
        margin-bottom: 41px;
        font-size: 16px;
        line-height: 25px;
        letter-spacing: 0.085em;
        color: #333333
    }
    &-name {
        display: block;
        margin-bottom: 49px;
        font-weight: 700;
        font-size: 22px;
        line-height: 35px;
        letter-spacing: 0.08em;
        color: #0D0C0B;
    }
    &-more {
        margin-top: auto;
        margin-right: auto;
        padding-bottom: 5px;
        font-weight: 600;
        font-size: 16px;
        line-height:  25px;
        letter-spacing: 0.085em;
        color: #333333;
        text-decoration: none;
        border-bottom: 1px solid #333333;
        white-space: nowrap;
    }
}

.catalog-gallery {
    margin-bottom: 110px;
    &-item {
        height: calc(100% - 190px);
    }
    .owl-item {
        margin-top: auto;
    }
    &-link {
        position: relative;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        height: 100%;
        padding-top: 30px;
        border-radius: 15px;
        text-decoration: none;
        background: linear-gradient(115.71deg, #E2E1E5 -4.93%, rgba(239, 239, 239, 0.49) 107.38%);
    }
    &-link_garden {
        background: #FFE68A;
    }
    &-link_holiday {
        background: #D8D8ED;
    }
    &-link_seeds {
        background: #DBF4DF;
    }
    &-link_animal {
        background: #FFB8C4;
    }
    &-link_stationary {
        background: #FFB8C4;
    }
    &-link_relaxation {
        background: #DBF4DF;
    }
    &-link_products-home {
        background: #FFE68A;
    }
    &-link_products-home {
        background: #FFE68A;
    }
    &-link_furniture {
        background: #D8D8ED;
    }
    &-label {
        margin-left: 40px;
        margin-right: 40px;
    }
    &-name {
        display: block;
        min-height: 70px;
        margin-bottom: 14px;
        font-weight: 700;
        font-size: 22px;
        line-height: 35px;
        letter-spacing: 0.08em;
        color: #0D0C0B;
        text-transform: uppercase;
    }
    &-more {
        position: absolute;
        left: 0;
        bottom: 43px;
        font-weight: 600;
        font-size: 16px;
        line-height: 25px;
        letter-spacing: 0.085em;
        color: #333333;
        text-decoration: none;
        border-bottom: 1px solid #333333;
        white-space: nowrap;
        text-transform: uppercase;
    }
    &-pic {
        display: flex;
        height: 238px;
        margin-top: auto;
        margin-left: auto;
    }
    &-img {
        display: block;
        margin-top: auto;
        margin-left: auto;
    }
    .owl-item.active &-item {
        height: calc(100% - 116px);
    }
    .owl-item.active ~ .owl-item.active &-item {
        height: 100%;
    }
    .owl-item.active + .owl-item.active + .owl-item.active + .owl-item.active &-item {
        height: calc(100% - 116px);
    }

    .owl-item.active +.owl-item.active {
        margin-top: 0;
    }
    .owl-item.active + .owl-item.active + .owl-item.active {
        margin-top: 0;
    }
    .owl-item.active + .owl-item.active + .owl-item.active + .owl-item.active {
        margin-top: auto;
    }

    .owl-item.active &-pic {
        height: 328px;
    }
    .owl-item.active +.owl-item.active &-pic {
        height: 430px;
    }
    .owl-item.active + .owl-item.active + .owl-item.active &-pic {
        height: 430px;
    }
    .owl-item.active + .owl-item.active + .owl-item.active + .owl-item.active &-pic {
        height: 328px;
    }

    .owl-item.active:nth-child(1) &-link {
        background: #FFE68A;
    }
    .owl-item.active:nth-child(2) &-link {
        background: #D8D8ED;
    }
    .owl-item.active:nth-child(3) &-link {
        background: #DBF4DF;
    }
    .owl-item.active:nth-child(4) &-link {
        background: #FFB8C4;
    }
}

.links {
    display: flex;
    justify-content: center;
    margin-bottom: 45px;
    &-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    &-item {
        margin-right: 23px;
        margin-left: 23px;
        margin-bottom: 15px;
    }
    &-item_switcher {}
    &-item:nth-child(4) ~ &-item {
        display: none;
    }
    &-item:nth-child(4) ~ &-item_switcher {
        display: block;
    }
    &-label {
        padding-bottom: 4px;
        font-weight: 600;
        font-size: 16px;
        line-height: 23px;
        color: #333333;
        text-decoration: none;
        white-space: nowrap;
        border-bottom: 1px solid transparent;
        &:hover {
            color: #59A750;
        }
    }
    &-label_active {
        color: #59A750;
        font-weight: 800;
        border-color: #59A750;
        &:hover {
        }
    }
    &-switcher {
        text-decoration: none;
    }
    &-switcher-label {
        position: relative;
        top: -2px;
        font-weight: 600;
        font-size: 36px;
        color: #4F4F4F;
        line-height: 10px;
    }
    &-switcher-hide {
        display: none;
        font-size: 14px;
        text-decoration: underline;
    }
    &_active &-item:nth-child(4) ~ &-item {
        display: block;
    }
    &_active &-switcher-label {
        display: none;
    }
    &_active &-switcher-hide {
        display: block;
    }
}

.price {
    margin-right: 16px;
    font-weight: 800;
    font-size: 26px;
    line-height: 38px;
    letter-spacing: 0.085em;
    color: #0D0C0B;
    white-space: nowrap;
    &-currency {
        margin-left: 6px;
        font-size: 25px;
    }
}

.price-old {
    margin-right: 17px;
    text-decoration: line-through;
    font-size: 14px;
    color: #111111;
    white-space: nowrap;
    letter-spacing: 0.085em;
    &-currency {
        margin-left: -1px;
        font-size: 14px;
    }
}

.discount {
    display: inline-block;
    min-height: 18px;
    line-height: 12px;
    padding: 3px 13px 2px;
    font-size: 10px;
    background-color: rgba(255, 88, 0, 0.7);
    border-radius: 3px;
    color: #fff;
    font-weight: 700;
    text-align: center;
    letter-spacing: 0.085em;
}

.marks {
    display: flex;
    flex-wrap: wrap;
    &-item {
        margin-bottom: 5px;
    }
    &-item_element:first-child {
        float: left;
    }
    &-item_element:nth-child(1) ~ &-item_element {
        display: none;
    }
    &-item_switcher {
    }
    &-item_element:nth-child(1) + &-item_switcher {
        display: none;
    }
    &-item_last { }
    &-label {
        display: inline-block;
        min-height: 30px;
        padding: 0 20px;
        border-radius: 5px;
        background-color: #FF614B;
        text-decoration: none;
        font-size: 13px;
        line-height: 30px;
        color: #fff;
        font-weight: 600;
        &:hover {
            color: #fff;
        }
    }
    &-label_hit {
        background-color: #A374A7;
    }

    &-switcher {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30px;
        height: 30px;
        margin-left: 20px;
        background-color: #fff;
        border: 1px solid #E0E0E0;
        border-radius: 5px;
    }
    &-icon {
        margin-top: 1px;
    }
    &_active {
        display: block;
    }
    &_active &-switcher {
        transform: scaleY(-1);
    }
    &_active &-item_last {
        float: left;
    }
    &_active &-switcher {
        transform: scaleY(-1);
        margin-left: 0;
    }
    &_active &-item_switcher {
        float: left;
    }
    &_active &-item_element:nth-child(1) ~ &-item_element {
        display: block;
    }
}

.products {
    &-title {
        margin-bottom: 34px;
    }
    &-block {
        padding: 30px 30px 40px;
        border-radius: 15px;
    }
    &-link {
        display: block;
        margin-bottom: 23px;
    }
    &-img {
        display: block;
        width: 100%;
        border-radius: 15px;
    }
    &-logo {
        display: block;
        margin-bottom: 15px;
    }
    &-name {
        display: inline-block;
        margin-bottom: 23px;
        min-height: 62px;
        font-weight: 700;
        font-size: 18px;
        line-height: 31px;
        letter-spacing: 0.085em;
        text-transform: uppercase;
        text-decoration: none;
        color: #0D0C0B;
        &:hover {
            color: #0D0C0B;
        }
    }
    &-price {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin-bottom: 20px;
    }
    &-button {
        width: 100%;
    }
    &-icon {
        vertical-align: middle;
        margin-top: -4px;
        margin-right: 15px;
    }
    &-links {}
    &-links-item {}
    &-links-label {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50px;
        height: 50px;
        border: 1px solid #E0E0E0;
        border-radius: 50%;
    }
    &-panel {
        display: flex;
        position: relative;
        margin-bottom: 10px;
    }
    &-links {
        margin-left: auto;
    }
    &-marks {
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        height: 30px;
    }
    &-actions {
        visibility: hidden;
    }
    &-block:hover {
        box-shadow: 0px 0px 30px rgba(206, 206, 206, 0.4);
    }
    &-block:hover &-actions {
        visibility: visible;
    }
}


@media screen
and (max-width: $large){
    .main-banner {
        &-layers-1 {
            width: 199px;
            height: 217px;
            margin-top: 200px;
            margin-left: -181px;
        }
        &-layers-2 {
            width: 237px;
            height: 236px;
            margin-top: 45px;
            margin-right: -168px;
        }
    }
}

@media screen
and (max-width: $desktop){
    .main-banner {
        &-description {
            padding-left: 35px;
            padding-bottom: 90px;
        }
        &-panel {
            left: 35px;
            bottom: 30px;
        }
        &-title {
            font-size: 30px;
            line-height: 34px;
        }
        &-info {
             font-size: 18px;
            line-height: 28px;
        }
        &-layers-1 {
            margin-top: 156px;
        }
        &-layers-2 {
            margin-top: 45px;
        }
    }
    .category {
        &-block {
            max-width: 190px;
        }
        &-label {
            margin-bottom: 20px;
            font-size: 13px;
            line-height: 20px;
        }
        &-name {
            margin-bottom: 27px;
            font-size: 14px;
            line-height: 22px;
        }
        &-more {
            font-size: 12px;
            line-height: 19px;
        }
    }
}

@media screen
and (max-width: $tablet){
    .main-banner {
        margin-bottom: 25px;
        &-description {
            width: 50%;
            padding-top: 35px;
            padding-left: 25px;
            padding-bottom: 60px;
        }
        &-title {
            margin-bottom: 10px;
            font-size: 20px;
            line-height: 28px;
        }
        &-info {
            margin-bottom: 25px;
            font-size: 14px;
            line-height: 20px;
        }
        &-panel {
            left: 25px;
            bottom: 20px;
        }
        &-layers-1 {
            width: 138px;
            height: 137px;
            margin-top: 99px;
            margin-left: -162px;
            background-image: url(../images/main-banner/main-banner-layers-mob-1.png);
        }
        &-layers-2 {
            width: 149px;
            height: 149px;
            margin-top: 45px;
            margin-right: -60px;
            background-image: url(../images/main-banner/main-banner-layers-mob-2.png);
        }
        &-img {
            width: 50%;
        }
        &-item_modified &-img {
            background-position: 32px calc(50% + 8px);
        }
        &-pic-wrapper {
            width: 320px;
            margin-left: -20px;
        }
        &-pic {
            margin-bottom: -37px;
        }
    }
    .counter {
        &-number {
            font-size: 18px;
        }
        &-total-number {
            font-size: 14px;
        }
    }
    .category {
        margin-bottom: 61px;
        &-list {
            margin-right: 70px;
            overflow: visible;
        }
        &-link {
            padding: 28px 25px 30px 25px;
        }
    }
    .catalog-gallery {
        margin-bottom: 62px;
        &-list {
            margin-left: 100px;
            margin-right: 100px;
            overflow: visible;
        }
        &-item {
            height: calc(100% - 36px);
        }
        .owl-item.active &-item {
            height: 100%;
        }
        &-pic {
            height: 224px;
        }
        .owl-item.active &-pic {
            height: 250px;
        }
        .owl-item.active + .owl-item.active &-pic {
            height: 250px;
        }
        &-label {
            margin-left: 24px;
            margin-right: 24px;
        }
        &-link {
            padding-top: 30px;
        }
        &-more {
            padding-bottom: 1px;
            bottom: 30px;
            font-size: 12px;
            line-height: 19px;
        }
        &-name {
            min-height: 44px;
            font-size: 14px;
            line-height: 22px;
        }
    }
    .marks {
        &-label {
            padding-left: 13px;
            padding-right: 13px;
            min-height: 25px;
            line-height: 25px;
            font-size: 12px;
        }
        &-switcher {
            width: 25px;
            height: 25px;
            margin-left: 15px;
        }
    }
    .products {
        margin-bottom: 63px;
        &-title {
            margin-bottom: 14px;
        }
        &-list {
            margin-right: 60px;
        }
        &-block {
            padding: 20px 25px 30px;
        }
        &-links-label {
            width: 37px;
            height: 37px;
        }
        &-name {
            margin-bottom: 18px;
            min-height: 44px;
            font-size: 14px;
            line-height: 22px;
        }
        &-icon {
            margin-right: 10px;
        }
        &-actions {
            visibility: visible;
        }
    }
    .price {
        margin-right: 10px;
        font-size: 18px;
        line-height: 26px;
        &-currency {
            margin-left: 4px;
            font-size: 17px;
        }
    }
    .price-old {
        margin-right: 10px;
        font-size: 11px;
        line-height: 16px;
        &-currency {
            font-size: 11px;
        }
    }
    .discount {
        font-size: 9px;
        padding-right: 4px;
        padding-left: 4px;
    }
    .links {
        margin-bottom: 30px;
        &-item {
            margin-right: 12px;
            margin-left: 12px;
            margin-bottom: 5px;
        }
        &-label {
            font-size: 12px;
            line-height: 17px;
        }
        &-switcher-label {
            font-size: 18px;
        }
        &-switcher-hide {
            font-size: 12px;
        }
    }
}

@media screen
and (max-width: $mobile){
    .main-banner {
        &-description {
            width: 100%;
            padding-right: 25px;
            padding-bottom: 37px;
        }
        &-img {
            width: 100%;
            border-radius: 0 0 15px 15px;
        }
        &-item_modified &-img {
            justify-content: flex-end;
            background-position: calc(50% + 183px) 2px;
            background-size: 536px auto;
        }
        &-pic-wrapper {
            margin-left: auto;
            border-radius: 0 0 15px 0;
        }
        &-pic {
            margin-bottom: 0;
            position: relative;
            right: -30px;
        }
        &-list {
            margin-bottom: 15px;
        }
        &-item {
            flex-direction: column;
        }
        &-panel {
            position: static;
        }
        &-layers {
            justify-content: center;
            max-width: 300px;
        }
        &-layers-1 {
            width: 95px;
            height: 90px;
            margin-top: -38px;
            margin-left: -32px;
        }
        &-layers-2 {
            width: 95px;
            height: 90px;
            margin-top: -100px;
            margin-right: -24px;
        }
    }
    .category {
        &-list {
            margin-right: 30px;
        }
    }
    .catalog-gallery {
        &-list {
            margin-left: 0;
            margin-right: 103px;
            overflow: visible;
        }
        &-item {
            height: 100%;
        }
        .owl-item {
            margin-top: 0;
        }
        &-pic {
            height: 250px;
        }
    }
    .links {
        &-item:nth-child(2) ~ &-item {
            display: none;
        }
        &-item:nth-child(2) ~ &-item_switcher {
            display: block;
        }
        &_active &-item:nth-child(2) ~ &-item {
            display: block;
        }
    }
    .products {
        .owl-item.active &-block {
            box-shadow: 0px 0px 30px rgba(206, 206, 206, 0.4);
        }
    }
}
