
/* Fancybox */
.fancybox-bg {
    background-color: rgba(0,0,0,0.5);
}

.fancybox-slide--html {
    padding: 0;
}

.fancybox-content {
    overflow: visible;
    padding: 0;
}

.fancybox-close-small {
    width: 33px;
    height: 33px;
    top: -50px;
    padding: 0;
    opacity: 1;
}

.fancybox-close {
    width: 33px;
    height: 33px;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    border: 1px solid #dcdcdc;
    background-color: transparent;
}
.fancybox-close:hover {
    background-color: #242424;
    border-color: #242424;
}

.fancybox-close-icon {
    color: #afafaf;
    font-size: 20px;
}
.fancybox-close:hover .fancybox-close-icon {
    color: #fff;
}

.fancybox-close_simple {
    top: -31px;
    right: -31px;
}
.fancybox-close_simple .fancybox-close-icon {
    color: #fefefe;
    font-size: 30px;
}

.fancybox-nav-block {
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

.fancybox-button {
    padding: 0;
    vertical-align: middle;
}

.fancybox-button--arrow_right {
    width: 63px;
    height: 100%;
    padding-right: 22px;
    background-color: transparent;
}

.fancybox-button--arrow_left {
    width: 63px;
    height: 100%;
    padding-left: 22px;
    background-color: transparent;
}

.fancybox-button-icon {
    display: block;
    width: 45px;
    height: 45px;
    line-height: 45px;
    margin-top: -3px;
    font-size: 30px;
    color: #1d1d1d;
    transition: background-color 0.3s linear;
    &:hover {
        background-color: rgba(255, 255, 255, 0.5);
    }
    &_left { }
    &_right {
    }
}

.fancybox-button[disabled] .fancybox-button-icon {
}

.fancybox-button[disabled] .fancybox-button-icon {
    color: #c4c4c4;
}

.fancybox-slide--image {
    .fancybox-close-small {
        top: -50px;
        right: -50px;
        background-color: transparent;
    }
}

.fancybox-toolbar {
    display: none;
}
/* /Fancybox */



@keyframes preloader-animation {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.preloader {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80px;
    height: 80px;
    background-color: #fff;
    padding: 5px;
    border-radius: 50%;
    &-container {
        width: 70px;
        height: 70px;
        border: 6px solid rgb(234, 234, 234);
        border-top: 6px solid #3498db;
        border-radius: 50%;
        animation: preloader-animation 1s linear infinite;
    }
}

.popup {
    width: 510px;
    padding: 42px 30px 50px;
    &-title {
        display: block;
        margin-bottom: 40px;
        text-align: center;
        font-size: 25px;
        line-height: 30px;
        color: rgb( 29, 29, 29 );
        font-weight: bold;
    }
    &-button {
        min-width: 160px;
        padding-right: 24px;
        padding-left: 24px;
        font-size: 14px;
        letter-spacing: 0.007em;
    }
}

.decor-popup {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.mob-form {
    &-switcher {
        display: block;
    }
    &-icon {
        display: block;
        width: 25px;
        height: 20px;
        fill: #727272;
    }
    &-container {
        padding-left: 40px;
        padding-right: 40px;
    }
    &-close-panel {
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: #59A750;
        width: 100%;
        min-height: 79px;
        padding-top: 24px;
        padding-bottom: 24px;
    }
    &-close {
        position: relative;
        z-index: 3;
        display: block;
        margin-left: auto;
        margin-bottom: 27px;
        color: #fff;
        text-decoration: none;
        &:hover {
            color: #fff;
        }
    }
    &-close-icon {
        margin-left: 5px;
        font-size: 24px;
        color: #727272;
        line-height: 0;
    }
    &-block {
        position: fixed;
        top: 0;
        right: 0;
        z-index: 1000;
        width: 100%;
        max-width: 730px;
        padding-top: 128px;
        padding-bottom: 58px;
        background-color: #fff;
        border: solid #eaeaea;
        border-width: 0 1px 1px 0;
        transition: transform 0.3s linear;
        transform: translateX(100%);
        overflow: hidden;
    }

    &-decor {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 990;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.4);
    }
    &-block.open {
        transform: translateX(0%);
    }
    &-block.open &-child {
        display: block;
    }
    &-back-icon {
        margin-right: 5px;
    }
    &_active &-decor {
        display: block;
    }
    &-close-title {
        margin-right: auto;
        font-weight: bold;
        font-size: 20px;
        line-height: 29px;
        color: #FFFFFF;
        text-transform: uppercase;
    }
    &-container {
        padding-left: 30px;
        padding-right: 30px;
    }
    &-element {
        height: 100%;
    }
    &-content {
        height: 100%;
        overflow-y: auto;
        margin-top: 30px;
    }
    &-content_complex {
        height: calc(100% - 133px);
        margin-bottom: 40px;
    }
    &-body {
    }
    &-footer {
    }
    &-registration-link {
        font-size: 18px;
        color: #335aa6;
        &:hover {
            color: #335aa6;
            text-decoration: none;
        }
    }
    .simplebar-content {
        margin-right: 22px;
    }
    .simplebar-track {
        right: 18px;
    }
    &-help {
        margin-top: 7px;
        font-size: 14px;
        color: #b0b0b0;
    }
    &-row {
        display: flex;
        align-items: flex-end;
    }
    &-col {
        width: 50%;
        padding-right: 30px;
        &:last-child {
            padding-right: 0;
        }
    }
    &-name {
        display: block;
        margin-bottom: 25px;
        font-weight: bold;
        font-size: 15px;
        line-height: 20px;
        letter-spacing: 0.007em;
        text-transform: uppercase;
        color: #2D2A1E;
    }
    &-actions {
        margin-bottom: 30px;
        &:last-child {
            margin-bottom: 0;
        }
    }
    &-link {
        &:hover {
            text-decoration: none;
        }
    }
}

body.mob-form-show {
    overflow: hidden;
}
body.mob-form-show .wrapper {
    overflow-y: scroll;
}


@media screen
and (max-width: $tablet){
    .mob-form {
        &-container {
            padding-left: 25px;
            padding-right: 25px;
        }
        &-block {
            padding-bottom: 50px;
            padding-top: 111px;
        }
        &-name {
            margin-bottom: 23px;
            font-size: 14px;
        }
        &-actions {
            margin-bottom: 25px;
        }
        &-link {
            font-size: 14px;
        }
        &-close {
            margin-bottom: 10px;
        }
    }
    .popup {
        &-button {
            font-size: 12px;
        }
    }
}

@media screen
and (max-width: $mobile){
    .popup {
        width: auto;
        &-button {
            width: 100%;
        }
    }
}