
.sidebar {
    &-menu-list {
        padding: 28px 39px;
        box-shadow: 0px 4px 30px rgba(206, 206, 206, 0.4);
        border-radius: 15px;
    }
    &-menu-item {
        border-bottom: 1px solid #F2F2F2;
        &:last-child {
            border-bottom-width: 0;
        }
    }
    &-menu-link {
        display: block;
        padding-top: 15px;
        padding-bottom: 15px;
        text-decoration: none;
        font-weight: 700;
        font-size: 18px;
        line-height: 29px;
        color: #333333;
        letter-spacing: 0.085em;
        text-transform: uppercase;
        &:hover {
            color: #59A750;
        }
    }
    &-menu-item_active {}
    &-menu-item_active &-menu-link {
        color: #59A750;
    }

    &-menu-mob {
        display: none;
        margin-bottom: 35px;
    }
}

.profile {
    &-list {}
    &-list-item {
        margin-bottom: 40px;
    }
    &-list-block {
        display: block;
        height: 100%;
        background-color: #F8F7F7;
        border-radius: 15px;
        overflow: hidden;
        text-decoration: none;
    }
    &-list-name {
        display: flex;
        align-items: center;
        padding: 23px 39px;
        background-color: #59A750;
        font-weight: 700;
        font-size: 18px;
        line-height: 29px;
        letter-spacing: 0.08em;
        color: #FFFFFF
    }
    &-list-info {
        display: block;
        padding: 53px 39px 43px;
    }
    &-list-description {
        display: block;
        margin-bottom: 48px;
        font-size: 16px;
        line-height:  25px;
        letter-spacing: 0.085em;
        color: #333333;
    }
    &-list-icon {
        margin-top: -5px;
        margin-right: 17px;
    }
    &-list-icon_active {
        display: none;
    }
    &-list-block:hover {
        background-color: #fff;
        filter: drop-shadow(0px 0px 30px rgba(206, 206, 206, 0.4));
    }
    &-list-block:hover &-list-icon {
        display: none;
    }
    &-list-block:hover &-list-icon_active {
        display: block;
    }
    &-list-block:hover &-list-name {
        background-color: #fff;
        color: #59A750;
    }
}

@media screen
and (max-width: $large){
    .sidebar {
        &-menu-list {
            padding: 28px 25px;
        }
        &-menu-link {
            font-size: 15px;
            padding-top: 10px;
            padding-bottom: 10px;
        }
    }
}

@media screen
and (max-width: $desktop){
    .profile {
        &-list-item {
            margin-bottom: 25px;
        }
        &-list-name {
            padding: 23px 25px;
            font-size: 16px;
            line-height: 22px;
        }
        &-list-info {
            padding: 35px 25px 36px;
        }
        &-list-icon {
            margin-right: 10px;
        }
        &-list-description {
            margin-bottom: 30px;
        }
    }
}

@media screen
and (max-width: $tablet){
    .sidebar {
        &-menu {
            display: none;
        }
        &-menu-mob {
            display: block;
        }
    }
    .profile {
        &-list-description {
            font-size: 14px;
            line-height: 22px;
        }
        &-list-name {
            padding-top: 15px;
            padding-bottom: 13px;
            font-size: 14px;
        }
    }
}

@media screen
and (max-width: $mobile){
}



.profile-address {
    &-list {}
    &-list-item {
        margin-bottom: 50px;
    }
    &-value {
        margin-bottom: 20px;
        font-weight: 600;
        font-size: 15px;
        line-height: 21px;
        letter-spacing: 0.06em;
        color: #111111;
    }
    &-links {
        display: flex;
        flex-wrap: wrap;
    }
    &-link {
        margin-right: 25px;
        font-weight: 600;
        font-size: 15px;
        text-decoration: none;
    }
    &-link_edit {
        color: #59A750;
        text-decoration: underline;
        &:hover {
            color: #59A750;
            text-decoration: none;
        }
    }
    &-icon {
        vertical-align: middle;
        margin-left: 7px;
    }
    &-label {
        display: block;
        margin-bottom: 30px;
        font-weight: 600;
        font-size: 15px;
        line-height: 21px;
        letter-spacing: 0.06em;
        color: #111111;
    }
    &-button {
        min-width: 250px;
    }
}

.profile-form {
    &-item {
        max-width: 933px;
    }
    &-item_data {
        max-width: 1082px;
    }
    &-block {
        margin-bottom: 10px;
    }
    &-gender {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        height: 50px;
        padding-left: 32px;
    }
    &-gender-label {
        font-size: 15px;
        margin-right: 22px;
    }
    &-checkbox {}
    &-gender-name {
        color: #333333;
    }
    &-gender-name_man {
        display: none;
    }
    &-checkbox:checked ~ &-gender-name {
        display: none;
    }
    &-checkbox:checked ~ &-gender-name_man {
        display: block;
    }

    &-personal {
        display: flex;
    }
    &-photo-inner {
        position: relative;
    }
    &-photo {
        min-width: 110px;
        width: 110px;
        margin-right: $gutters;
    }
    &-file {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 110px;
        z-index: 1;
        opacity: 0;
    }
    &-img {
        position: relative;
        display: block;
        margin-bottom: 18px;
        height: 110px;
        border-radius: 15px;
        &:before {
            content: '';
            position: absolute;
            z-index: 1;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(69, 69, 69, 0.6);
            border-radius: 15px;
        }
    }
    &-img-icon {
        display: none;
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: 1;
        transform: translate(-50%, -50%);
    }
    &-photo-inner:hover &-img-icon {
        display: block;
    }
    &-photo-inner_active:hover &-img-icon {
        display: none;
    }
    &-photo-inner_active &-img:before {
        display: none;
    }
    .MultiFile-remove {
        display: flex;
        align-items: center;
        text-decoration: none;
        font-size: 15px;
    }
    .MultiFile-title {
        display: none;
    }
    .MultiFile-preview {
        position: absolute;
        top: 0;
        left: 0;
        object-fit: contain;
        width: 110px;
        height: 110px;
        border-radius: 15px;
    }
    &-radio {
        margin-right: 25px;
        &:last-child {
            margin-right: 0;
        }
    }
}

.file-name-close {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 25px;
    width: 25px;
    height: 25px;
    margin-left: 15px;
    border: 1.5px solid #E0E0E0;
    border-radius: 5px;
}

@media screen
and (max-width: $tablet){
    .profile-address {
        &-list-item {
            margin-bottom: 33px;
        }
        &-value {
            margin-bottom: 15px;
            font-size: 14px;
            line-height: 19px;
        }
        &-link {
            margin-right: 22px;
            font-size: 14px;
        }
        &-label {
            margin-bottom: 15px;
            font-size: 14px;
        }
    }
    .profile-form {
        &-photo {
            min-width: 81px;
            width: 81px;
            margin-right: 25px;
        }
        &-img {
            width: 81px;
            height: 81px;
            border-radius: 10px;
        }
        &-img-icon {
            display: block;
        }
        &-gender {
            height: 38px;
            padding-left: 23px;
        }
        &-gender-label {
            font-size: 14px;
            margin-right: 13px;
        }
        &-file {
            width: 81px;
            height: 81px;
        }
        &-gender-name {
            font-size: 12px;
        }
        .MultiFile-remove {
            font-size: 13px;
        }
        .MultiFile-preview {
            min-width: 81px;
            width: 81px;
            height: 81px;
        }
    }
    .file-name-close {
        min-width: 20px;
        width: 21px;
        height: 21px;
        margin-left: 10px;
    }
}

@media screen
and (max-width: $mobile){
    .profile-address {
        &-button {
            min-width: auto;
            width: 100%;
        }
    }
    .profile-form {
        &-photo-inner {
            display: flex;
            align-items: center;
        }
        &-personal {
            flex-direction: column;
        }
        &-photo {
            min-width: auto;
            width: auto;
            margin-bottom: 30px;
            margin-right: 0;
        }
        &-img {
           margin-right: 25px;
            margin-bottom: 0;
        }
    }
}



.profile-orders {
    margin-bottom: 45px;
    &-item {
        display: flex;
        align-items: center;
        border-bottom: 1px solid #E0E0E0;
        padding-top: 21px;
        padding-bottom: 21px;
        margin-top: -1px;
        margin-bottom: -1px;
        &:last-child {
            border-bottom-width: 0;
        }
        &:hover {
            box-shadow: 0px 0px 30px rgba(206, 206, 206, 0.4);
            border-radius: 15px;
            border-bottom-color: transparent;
            background-color: #fff;
        }
    }
    &-col {
        padding-left: 34px;
        padding-right: 34px;
    }
    &-col_name {
        width: 30%;
    }
    &-col_status {
        width: 36%;
    }
    &-col_price {
        width: 16%;
        text-align: right;
    }
    &-col_link {
        width: 18%;
        text-align: right;
    }
    &-name {
        font-weight: 700;
        font-size: 18px;
        line-height: 29px;
        letter-spacing: 0.085em;
        color: #333333;
    }
    &-status {
        padding: 13px 20px;
        display: block;
        border-radius: 15px;
        text-align: center;
        background-color: rgba(255, 230, 138, 0.5);
        color: #C1AB5A;
        font-size: 15px;
        font-weight: 700;
    }
    &-status_taken {
        background-color: rgba(255, 184, 196, 0.6);
        color: #BC818B;
    }
    &-status_ready {
        background-color: #DBF4DF;
        color: #59A750;
    }
    &-status_received {
        background-color: #E4E4F2;
        color: #5E5E8D;
        opacity: 0.7;
    }
    &-price {
        font-weight: 800;
        font-size: 20px;
        letter-spacing: 0.085em;
        color: #2D2A1E;
        white-space: nowrap;
    }
    &-currency {
        font-size: 19px;
    }
    &-link {
        font-size: 15px;
        font-weight: 700;
        letter-spacing: 0.085em;
        text-decoration-line: underline;
        color: #59A750;
        &:hover {
            color: #59A750;
            text-decoration: none;
        }
    }
    &-indicator {
        display: none;
    }
}

@media screen
and (max-width: $desktop){
    .profile-orders {
        &-item {
            padding-top: 10px;
            padding-bottom: 10px;
        }
        &-col {
            padding-left: 20px;
            padding-right: 20px;
        }
        &-name {
            font-size: 14px;
            line-height: 21px;
        }
        &-status {
            padding: 7px 10px;
            border-radius: 10px;
            font-size: 14px;
            line-height: 21px;
        }
        &-price {
            font-size: 17px;
        }
        &-currency {
            font-size: 16px;
        }
        &-link {
            font-size: 13px;
        }
    }
}

@media screen
and (max-width: $tablet){
}

@media screen
and (max-width: $mobile){
    .profile-orders {
        &-item {
            flex-wrap: wrap;
        }
        &-col_name {
            width: 100%;
            margin-bottom: 10px;
        }
        &-col_status {
            width: 100%;
            margin-bottom: 10px;
        }
        &-col_price {
            width: 50%;
            text-align: left;
        }
        &-col_link {
            width: 50%;
        }
    }
}



.profile-wishlist {
    &-panel {
        display: flex;
        align-items: center;
        margin-bottom: 30px;
    }
    &-title {
        margin-bottom: 0;
        margin-right: auto;
    }
    &-link-wrapper {
        margin-left: auto;
    }
    &-link {
        text-decoration: none;
        font-weight: 600;
        font-size: 15px;
        color: #828282;
    }
    &-link-icon {
        margin-left: 5px;
    }
    &-actions {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        flex-wrap: wrap;
    }
    &-products {
        margin-bottom: 44px;
    }
    &-sum {
        margin-left: 78px;
        font-weight: 700;
        font-size: 22px;
        line-height: 26px;
        color: #111111;
        white-space: nowrap;
    }
    &-sum-price {
        margin-left: 24px;
        font-weight: 800;
        font-size: 26px;
        line-height: 38px;
        letter-spacing: 0.085em;
        color: #2D2A1E;
    }
    &-sum-currency {
        margin-left: 6px;
        font-size: 25px;
    }
    &-button {
        margin-left: 30px;
        &:first-child {
            margin-left: 0;
        }
    }
    &-products {
        .products-links {
            visibility: visible;
        }
    }
}

@media screen
and (max-width: $desktop){
    .profile-wishlist {
        &-products {
            margin-bottom: 25px;
        }
        &-sum {
            margin-left: 20px;
            font-size: 20px;
        }
        &-sum-price {
            margin-left: 2px;
            font-size: 22px;
        }
        &-button {
            margin-left: 14px;
        }
        &-sum-currency {
            margin-left: 4px;
            font-size: 21px;
        }
    }
}

@media screen
and (max-width: $tablet){
    .profile-wishlist {
        &-link {
            font-size: 14px;
        }
    }
}

@media screen
and (max-width: $mobile){
    .profile-wishlist {
        &-panel {
            flex-wrap: wrap;
            margin-bottom: 25px;
        }
        &-link-wrapper {
            width: 100%;
            order: 1;
            text-align: right;
            margin-top: 10px;
        }
        &-link {
            font-size: 13px;
        }
        &-actions {
            justify-content: flex-start;
        }
        &-sum {
            order: -1;
            margin-left: 0;
            margin-bottom: 15px;
        }
        &-button {
            margin-left: 0;
            width: 100%;
            margin-bottom: 20px;
        }
    }
}